Repository multi-objective/moocore: changes, and which Codecov flags are due for each by the changed paths.
All: tests, src

Rename vorobT() and vorobDev() to vorob_t() and vorob_dev() in both Python and R.
  python/doc/source/reference/functions.eaf.rst
  python/doc/source/whatsnew/index.rst
  python/pyproject.toml
  python/src/moocore/__init__.py
  python/src/moocore/_moocore.py
  r/NAMESPACE
  r/NEWS.md
  r/R/moocore-package.R
  r/R/vorob.R
  r/man/CPFs.Rd
  r/man/Vorob.Rd
  r/tests/testthat/test-doctest-vorob_t.R
  r/tests/testthat/test-vorob.R
Due: src

python/pyproject.toml: Enable PERF, UP and RUF rules.
  python/pyproject.toml
  python/src/moocore/_moocore.py
Due: src

python/setup.py: Ignore rule N801.
  python/setup.py
Due: none

* python/src/moocore/__init__.py: Sort __all__.
  python/src/moocore/__init__.py
Due: src

r/R/whv.R (whv_hype): Reorder parameters.
  r/R/whv.R
  r/man/whv_hype.Rd
Due: none

python/ New class RelativeHypervolume.
  python/doc/source/reference/functions.metrics.rst
  python/doc/source/whatsnew/index.rst
  python/src/moocore/__init__.py
  python/src/moocore/_moocore.py
Due: src

python/ Extend docs and add tests. bibkeys.txt (BezLopStu2017assessment): New.
  bibkeys.txt
  python/doc/source/REFERENCES.bib
  python/src/moocore/_moocore.py
  python/tests/test_moocore.py
  r/inst/REFERENCES.bib
Due: tests, src

.github/workflows/ Upgrade to codecov-action@v5.
  .github/workflows/R.yml
  .github/workflows/python.yml
Due: none

r/src/Makevars: Simplify.
  r/src/Makevars
Due: none

.github/workflows/python.yml: lint-ruff is not needed.
  .github/workflows/python.yml
  python/pyproject.toml
  python/requirements_dev.txt
Due: none

r/inst/WORDLIST: Add more words.
  r/inst/WORDLIST
Due: none

.pre-commit-config.yaml: sort WORDLIST.
  .pre-commit-config.yaml
Due: none

c/README.md: Mention the testsuite.
  c/README.md
Due: none

.pre-commit-config.yaml: Activate ci.
  .pre-commit-config.yaml
Due: none

c/README.md: Fix example command.
  c/README.md
Due: none

c/ Replace eaf_assert() by assert().
  c/common.h
  c/eaf.c
  c/eaf.h
  c/eaf3d.c
  c/hv_contrib.c
  c/pareto.c
  c/whv.c
Due: none

r/ Replace eaf_assert() by assert().
  r/src/Rmoocore.c
Due: none

* r/inst/WORDLIST: Sort.
  r/inst/WORDLIST
Due: none

python/doc/ Add benchmarks to docs.
  python/doc/source/_static/hv_bench-DTLZLinearShape.3d-time.png
  python/doc/source/_static/hv_bench-DTLZLinearShape.4d-time.png
  python/doc/source/index.rst
Due: none

python/Makefile: install is not editable, dev-install is.
  python/Makefile
Due: none

python/doc/source/index.rst: Benchmark DEAP-er.
  python/doc/source/_static/hv_bench-DTLZLinearShape.3d-time.png
  python/doc/source/index.rst
Due: none

python/ get_dataset_path() can download remote datasets.
  python/doc/source/reference/functions.io.rst
  python/doc/source/whatsnew/index.rst
  python/pyproject.toml
  python/src/moocore/__init__.py
  python/src/moocore/_datasets.py
  python/src/moocore/_moocore.py
  python/tests/conftest.py
  python/tests/test_data/ALG_1_dat.xz
  python/tests/test_moocore.py
Due: tests, src

codecov.yml: Update fixes.
  codecov.yml
Due: none

python/tests/ Compress large reference output files.
  .pre-commit-config.yaml
  python/tests/test_data/expected_output/eaf/ALG_1_dat_eaf.txt
  python/tests/test_data/expected_output/eaf/ALG_1_dat_eaf.txt.gz
  python/tests/test_data/expected_output/eaf/pct_ALG_1_dat_eaf.txt
  python/tests/test_data/expected_output/eaf/pct_ALG_1_dat_eaf.txt.gz
  python/tests/test_data/expected_output/eaf/pct_spherical_eaf.txt
  python/tests/test_data/expected_output/eaf/pct_spherical_eaf.txt.gz
  python/tests/test_data/expected_output/eaf/pct_wrots_l100_eaf.txt
  python/tests/test_data/expected_output/eaf/pct_wrots_l100_eaf.txt.gz
  python/tests/test_data/expected_output/eaf/pct_wrots_l10_eaf.txt
  python/tests/test_data/expected_output/eaf/pct_wrots_l10_eaf.txt.gz
  python/tests/test_data/expected_output/eaf/spherical_eaf.txt
  python/tests/test_data/expected_output/eaf/spherical_eaf.txt.gz
  python/tests/test_data/expected_output/eaf/wrots_l100_eaf.txt
  python/tests/test_data/expected_output/eaf/wrots_l100_eaf.txt.gz
  python/tests/test_data/expected_output/eaf/wrots_l10_eaf.txt
  python/tests/test_data/expected_output/eaf/wrots_l10_eaf.txt.gz
  python/tests/test_data/expected_output/read_datasets/ALG_1_dat_read_datasets.txt
  python/tests/test_data/expected_output/read_datasets/ALG_1_dat_read_datasets.txt.gz
  python/tests/test_data/expected_output/read_datasets/spherical_read_datasets.txt
  python/tests/test_data/expected_output/read_datasets/spherical_read_datasets.txt.gz
  python/tests/test_data/expected_output/read_datasets/uniform_read_datasets.txt
  python/tests/test_data/expected_output/read_datasets/uniform_read_datasets.txt.gz
  python/tests/test_moocore.py
Due: tests

.pre-commit-config.yaml: Clarify names of check-added-large-files.
  .pre-commit-config.yaml
Due: none

codecov.yml: More path fixing.
  codecov.yml
Due: none

python/ update benchmarks.
  python/doc/source/_static/hv_bench-DTLZLinearShape.3d-time.png
  python/doc/source/_static/hv_bench-DTLZLinearShape.4d-time.png
Due: none

python/src/moocore/_moocore.py: Fix documentation of reference set.
  python/src/moocore/_moocore.py
Due: src

python/tests/ Use xz instead of gz.
  python/tests/test_data/expected_output/eaf/ALG_1_dat_eaf.txt.gz
  python/tests/test_data/expected_output/eaf/ALG_1_dat_eaf.txt.xz
  python/tests/test_data/expected_output/eaf/pct_ALG_1_dat_eaf.txt.gz
  python/tests/test_data/expected_output/eaf/pct_ALG_1_dat_eaf.txt.xz
  python/tests/test_data/expected_output/eaf/pct_spherical_eaf.txt.gz
  python/tests/test_data/expected_output/eaf/pct_spherical_eaf.txt.xz
  python/tests/test_data/expected_output/eaf/pct_uniform_eaf.txt
  python/tests/test_data/expected_output/eaf/pct_uniform_eaf.txt.xz
  python/tests/test_data/expected_output/eaf/pct_wrots_l100_eaf.txt.gz
  python/tests/test_data/expected_output/eaf/pct_wrots_l100_eaf.txt.xz
  python/tests/test_data/expected_output/eaf/pct_wrots_l10_eaf.txt.gz
  python/tests/test_data/expected_output/eaf/pct_wrots_l10_eaf.txt.xz
  python/tests/test_data/expected_output/eaf/spherical_eaf.txt.gz
  python/tests/test_data/expected_output/eaf/spherical_eaf.txt.xz
  python/tests/test_data/expected_output/eaf/uniform_eaf.txt
  python/tests/test_data/expected_output/eaf/uniform_eaf.txt.xz
  python/tests/test_data/expected_output/eaf/wrots_l100_eaf.txt.gz
  python/tests/test_data/expected_output/eaf/wrots_l100_eaf.txt.xz
  python/tests/test_data/expected_output/eaf/wrots_l10_eaf.txt.gz
  python/tests/test_data/expected_output/eaf/wrots_l10_eaf.txt.xz
  python/tests/test_data/expected_output/read_datasets/ALG_1_dat_read_datasets.txt.gz
  python/tests/test_data/expected_output/read_datasets/ALG_1_dat_read_datasets.txt.xz
  python/tests/test_data/expected_output/read_datasets/spherical_read_datasets.txt.gz
  python/tests/test_data/expected_output/read_datasets/spherical_read_datasets.txt.xz
  python/tests/test_data/expected_output/read_datasets/uniform_read_datasets.txt.gz
  python/tests/test_data/expected_output/read_datasets/uniform_read_datasets.txt.xz
  python/tests/test_moocore.py
Due: tests

update_bib.sh: Avoid useless cat.
  update_bib.sh
Due: none

python/src/moocore/_moocore.py: Fix more incorrect mentions of reference set.
  python/src/moocore/_moocore.py
Due: src

Store Python wheels from @ 491870c32baa64e0ec714a9e5d05506e8dfce70a
  moocore-0.1.5.dev0-py3-none-macosx_10_9_universal2.whl
  moocore-0.1.5.dev0-py3-none-macosx_10_9_x86_64.whl
  moocore-0.1.5.dev0-py3-none-macosx_11_0_arm64.whl
  moocore-0.1.5.dev0-py3-none-manylinux_2_17_x86_64.manylinux2014_x86_64.whl
  moocore-0.1.5.dev0-py3-none-musllinux_1_2_x86_64.whl
  moocore-0.1.5.dev0-py3-none-win_amd64.whl
Due: none

c/nondominated.h: Typo in comment.
  c/nondominated.h
Due: none

python/ Small fixes to docs.
  python/doc/source/index.rst
  python/doc/source/reference/functions.metrics.rst
  python/src/moocore/_moocore.py
Due: src

Prepare to release v0.1.5
  DEVEL-README.md
  c/Makefile
  python/doc/source/whatsnew/index.rst
  python/pyproject.toml
  r/DESCRIPTION
Due: none

r/ Fix parallel build in CRAN.
  DEVEL-README.md
  r/DESCRIPTION
  r/NEWS.md
  r/src/Makevars
Due: none

DEVEL-README.md: Link to releases.
  DEVEL-README.md
Due: none

Bump Python version to 0.1.6
  python/doc/source/whatsnew/index.rst
  python/pyproject.toml
Due: none

Path conditions:
  tests: any of: python/tests/**
  src: any of: python/src/**
