Repository multi-objective/moocore: changes, and which Codecov flags are due for each by the changed paths.
All: tests, src

codecov.yml:

fixes:
  - "python/src/moocore/libmoocore/::c/" # Python package symlink
  - "src/moocore/libmoocore/::c/" # Python package symlink
  - "r/src/libmoocore/::c/" # R package symlink
  - "src/libmoocore/::c/" # R package symlink
  - ".tox/cov*/lib/*/site-packages/::python/src/"

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

flag_management:
  default_rules: # the rules that will be followed for any flag added, generally
    carryforward: true

component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doesn't have a status defined will have a project type one
        target: auto
        threshold: 1%
        branches:
          - "!main"
      - type: patch
        target: auto
        threshold: 1%
        informational: true

  individual_components:
    - component_id: tests  # this is an identifier that should not be changed
      name: tests  # this is a display name, and can be changed freely
      paths:
        - python/tests/**
        - python/examples/**
      statuses:
        - type: project
          target: 100%
          informational: false
        - type: patch
          target: auto
          threshold: 1%
          informational: true

    - component_id: src
      name: src
      paths:
        - python/src/**
      statuses:
        - type: project
          target: auto
          threshold: 1%
          informational: true
        - type: patch
          target: auto
          threshold: 1%
          informational: true

python/src/moocore/_ffi_build.py: Make sure linker flags contains CFLAGS and GCC_arch.
  python/src/moocore/_ffi_build.py
Due: src

Prepare to release v0.3.0
  c/Makefile
  python/doc/source/whatsnew/index.rst
  python/pyproject.toml
  r/DESCRIPTION
  r/NEWS.md
Due: none

Start development of v0.4.0.
  Makefile
  c/Makefile
  python/pyproject.toml
  r/DESCRIPTION
Due: none

README.md: dmosopt uses mooocore.
  README.md
Due: none

TODO: Link to NDTree-c implementation.
  TODO
Due: none

* release.py: Fix version use in message.
  release.py
Due: none

Store Python wheels from @ 6b46a7c51321022905883d1d8ee305489c3872cb
  moocore-0.4.0.dev0-cp310-abi3-macosx_10_9_universal2.whl
  moocore-0.4.0.dev0-cp310-abi3-manylinux2014_aarch64.manylinux_2_17_aarch64.manylinux_2_28_aarch64.whl
  moocore-0.4.0.dev0-cp310-abi3-manylinux2014_x86_64.manylinux_2_17_x86_64.manylinux_2_28_x86_64.whl
  moocore-0.4.0.dev0-cp310-abi3-musllinux_1_2_aarch64.whl
  moocore-0.4.0.dev0-cp310-abi3-musllinux_1_2_x86_64.whl
  moocore-0.4.0.dev0-cp310-abi3-win_amd64.whl
  moocore-0.4.0.dev0-cp310-abi3-win_arm64.whl
Due: none

.github/workflows/R.yml: Also check under ASAN.
  .github/workflows/R.yml
Due: none

r/ Document pareto_rank() in its own page, like Python does.
  r/NEWS.md
  r/R/nondominated.R
  r/man/nondominated.Rd
  r/man/pareto_rank.Rd
  r/tests/testthat/test-doctest-is_nondominated.R
  r/tests/testthat/test-doctest-pareto_rank.R
Due: none

* c/Makefile (asan): Separate into asan and ubsan targets. Doing both together may miss bugs. Run both with DEBUG=0 by default. * c/gcc.mk: Separate flags and options for ASAN and UBSAN.
  c/Makefile
  c/gcc.mk
Due: none

c/nondominated_kung.h (compact_rows): Do not use restrict. Only compact if r_size has decreased.
  c/nondominated_kung.h
Due: none

Prepare to release v0.3.1
  Makefile
  c/Makefile
  c/NEWS.md
  python/doc/source/whatsnew/index.rst
  python/pyproject.toml
  r/DESCRIPTION
  r/NEWS.md
Due: none

Implement Unbounded Archive
  python/src/moocore/__init__.py
  python/src/moocore/_archive.py
Due: src

WIP: Unbounded Archive.
  python/src/moocore/_archive.py
  python/tests/test_archive.py
Due: tests, src

* tools/rphi_seq.py (hex): Remove. Already implemented by mpmath>=1.4.1. * tools/hypersphere_volume.py: Likewise. * c/hvapprox.c: Regenerate constants.
  c/hvapprox.c
  tools/hypersphere_volume.py
  tools/rphi_seq.py
Due: none

* r/R/whv.R: Use doctest. * r/tests/testthat/test-doctest-whv_rect.R: New. * r/tests/testthat/test-whv.R: Remove tests that duplicate example.
  r/R/whv.R
  r/man/whv_rect.Rd
  r/tests/testthat/test-doctest-whv_rect.R
  r/tests/testthat/test-whv.R
Due: none

Start development of v0.4.0
  Makefile
  c/Makefile
  python/pyproject.toml
  r/DESCRIPTION
Due: none

* c/hvapprox.c (euclidean_norm): Tell GCC that norm cannot be negative.
  c/hvapprox.c
Due: none

python/ Require numpy >= 2.1.
  python/doc/source/whatsnew/index.rst
  python/pyproject.toml
  python/tox.ini
Due: none

r/man/macros/macros.Rd(\geq, \leg): New commands.
  r/man/macros/macros.Rd
Due: none

* c/hv.c (MAX_ROWS_HV_INEX): Rename to HV_INEX_MAX_ROWS. * c/hv.h: Declare it here.
  c/hv.c
  c/hv.h
Due: none

python/ Use @DocSubstitute() decorator to reuse docstring fragments (fix #61).
  python/src/moocore/_docsubstitute.py
  python/src/moocore/_moocore.py
Due: src

fix: V-001 security vulnerability
  c/hv_contrib.c
Due: none

python/ vorob_t() returns a NamedTuple instead of a dictionary.
  python/doc/source/whatsnew/index.rst
  python/src/moocore/_moocore.py
Due: src

Add PR documentation preview deployments via GitHub Pages
  .github/workflows/R.yml
  .github/workflows/docs-preview-cleanup.yml
  .github/workflows/python.yml
Due: none

FPRAS WIP
  c/config.h
  c/hvapprox.c
  c/hvapprox.h
  c/rng.h
  python/doc/source/reference/functions.metrics.rst
  python/examples/plot_hv_approx.py
  python/src/moocore/__init__.py
  python/src/moocore/_moocore.py
  python/src/moocore/libmoocore.h
Due: tests, src

try to avoid uninit warning.
  c/hvapprox.c
Due: none

use min/max in example
  python/examples/plot_hv_approx.py
Due: tests

improve plot
  python/examples/plot_hv_approx.py
Due: tests

Store Python wheels from @ bedbec3274b56db571a38f3c80225bf49657264f
  moocore-0.4.0.dev0-cp310-abi3-macosx_10_9_universal2.whl
  moocore-0.4.0.dev0-cp310-abi3-manylinux2014_aarch64.manylinux_2_17_aarch64.manylinux_2_28_aarch64.whl
  moocore-0.4.0.dev0-cp310-abi3-manylinux2014_x86_64.manylinux_2_17_x86_64.manylinux_2_28_x86_64.whl
  moocore-0.4.0.dev0-cp310-abi3-musllinux_1_2_aarch64.whl
  moocore-0.4.0.dev0-cp310-abi3-musllinux_1_2_x86_64.whl
  moocore-0.4.0.dev0-cp310-abi3-win_amd64.whl
  moocore-0.4.0.dev0-cp310-abi3-win_arm64.whl
Due: none

r/Makefile: Remove superfluous quotes.
  r/Makefile
Due: none

r/R/nondominated.R (is_nondominated): Convert arguments earlier.
  r/R/nondominated.R
Due: none

c/whv.c (whv_preprocess_rectangles): Minor improvement.
  c/whv.c
Due: none

r/src/Rmoocore.c (matrix_transpose_double): Faster transpose.
  r/src/Rmoocore.c
Due: none

python/pyproject.toml: Do not build wheels for Python 3.10 on win-arm64.
  python/pyproject.toml
Due: none

DEVEL-README.md: Add section about profiling.
  DEVEL-README.md
Due: none

r/vignettes/articles/bench/: Regenerate benchmarks.
  r/vignettes/articles/bench/bench-hv-DTLZLinearShape.3d.rds
  r/vignettes/articles/bench/bench-hv-DTLZLinearShape.4d.rds
  r/vignettes/articles/bench/bench-hv-DTLZLinearShape.5d.rds
  r/vignettes/articles/bench/bench-hv-DTLZLinearShape.6d.rds
  r/vignettes/articles/bench/bench-hv-spherical-3d.rds
  r/vignettes/articles/bench/bench-ndom-convex-3d.rds
  r/vignettes/articles/bench/bench-ndom-convex-4d.rds
  r/vignettes/articles/bench/bench-ndom-ran3d-40k.rds
  r/vignettes/articles/bench/bench-ndom-ran4d.rds
  r/vignettes/articles/bench/bench-ndom-rmnk-10d.rds
  r/vignettes/articles/bench/bench-ndom-sphere-3d.rds
  r/vignettes/articles/bench/bench-ndom-sphere-5d.rds
  r/vignettes/articles/bench/bench-ndom-test2D-200k.rds
Due: none
