Repository multi-objective/moocore: changes, and which Codecov flags are due for each by the changed paths.
All: tests, src

codecov.yml:

fixes:
  - "src/moocore/libmoocore/::" # Python package symlink
  - "src/moocore/::" # R package symlink
  - ".tox/coverage/lib/*/site-packages/::python/src/"

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

flag_management:
  default_rules: # the rules that will be followed for any flag added, generally
    carryforward: true

component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doesn't have a status defined will have a project type one
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: tests  # this is an identifier that should not be changed
      name: tests  # this is a display name, and can be changed freely
      paths:
        - python/tests/**
      statuses:
        - type: project
          target: 100%
          informational: false
        - type: patch

    - component_id: src
      name: src
      paths:
        - python/src/**
      statuses:
        - type: project
          target: auto
          threshold: 1%
          informational: true
        - type: patch

Fix Python wheels.
  .github/workflows/C.yml
  .github/workflows/R.yml
  .github/workflows/python.yml
  python/pyproject.toml
Due: none

Fix C workflow.
  .github/workflows/C.yml
Due: none

c/Makefile: Make verbose compilation the default.
  c/Makefile
Due: none

WERROR=1 compiles with -Werror flag.
  .github/workflows/C.yml
  c/gcc.mk
Due: none

c/eaf.c: Fix warning.
  c/eaf.c
Due: none

c/eaf.c: Fix clang warning.
  c/eaf.c
Due: none

.github/workflows/python.yml: Silence warning about macos universal2 wheel.
  .github/workflows/python.yml
  c/Makefile
  c/README.md
Due: none

Fix URL (warning by CRAN)
  README.md
  c/README.md
  python/pyproject.toml
  r/README.md
Due: none

python/: Be more careful about modifying views instead of copies of arguments.
  python/src/moocore/__init__.py
  python/src/moocore/_moocore.py
  python/src/moocore/_utils.py
Due: src

c/whv_hype.c: Small speed-up.
  c/whv_hype.c
Due: none

python/ Use 'ref' instead of 'reference' everywhere for consistency.
  python/src/moocore/_moocore.py
  python/tests/test_moocore.py
Due: tests, src

python/ Implement hv_approx().
  python/doc/source/REFERENCES.bib
  python/doc/source/reference/functions.metrics.rst
  python/src/moocore/__init__.py
  python/src/moocore/_moocore.py
Due: src

.github/workflows/python.yml: Show event details to help debuging.
  .github/workflows/python.yml
Due: none

.github/workflows/python.yml: Fix publish job.
  .github/workflows/python.yml
Due: none

Fix uploading to pypi
  .github/workflows/python.yml
Due: none

python/ Run doctests when testing wheels.
  python/pyproject.toml
Due: none

python/ Do not build aarch64.
  python/pyproject.toml
Due: none

Bump version to 0.1.2.dev
  c/Makefile
  python/pyproject.toml
  r/DESCRIPTION
Due: none

c/ Fix more warnings.
  DEVEL-README.md
  c/avl.c
  c/eaf.c
  c/eaf.h
  c/gcc.mk
  c/hv.c
  c/igd.h
  c/io_priv.h
  c/mt19937/mt19937.c
  c/rng.c
Due: none

c/timer.c: remove warning in windows.
  c/timer.c
Due: none

Automatically generate REFERENCES.bib.
  bibkeys.txt
  python/doc/source/REFERENCES.bib
  r/inst/REFERENCES.bib
  update_bib.sh
Due: none

python/ Convert examples into sphinx galleries.
  python/.gitignore
  python/Makefile
  python/doc/Makefile
  python/doc/source/conf.py
  python/doc/source/examples/index.rst
  python/doc/source/examples/metrics.md
  python/doc/source/index.rst
  python/examples/README.rst
  python/examples/plot_hv_approx.py
  python/examples/plot_metrics.py
  python/pyproject.toml
  python/requirements_dev.txt
  python/src/moocore/_moocore.py
Due: src

python/ Minor optimization in hv_approx().
  python/src/moocore/_moocore.py
Due: src

python/ Detailed documentation of DZ2019 method of hv_approx().
  python/doc/source/reference/functions.metrics.rst
Due: none

python/doc/ Minor edit.
  python/doc/source/reference/functions.metrics.rst
Due: none

r/src/Makevars: Remove .NOTPARALLEL
  r/src/Makevars
Due: none

Prepare to release v0.1.2
  c/Makefile
  r/DESCRIPTION
  r/NEWS.md
Due: none

python/ Add What's New page.
  python/doc/source/index.rst
  python/doc/source/reference/index.rst
  python/doc/source/whatsnew/index.rst
Due: none

update_bib.sh: Fix broken link.
  python/doc/source/REFERENCES.bib
  r/inst/REFERENCES.bib
  update_bib.sh
Due: none

Fix more warnings in C code.
  c/common.h
  r/src/init.c
Due: none

.github/workflows/R.yml: Only fix permissions in Windows.
  .github/workflows/R.yml
Due: none

python/ Add is_integer_value() and improve hv_approx().
  python/src/moocore/_moocore.py
  python/src/moocore/_utils.py
Due: src

r/ Improve handling of maximise parameter.
  r/R/eaf.R
  r/R/hv.R
  r/R/nondominated.R
  r/R/utils.R
  r/R/vorob.R
  r/R/whv.R
Due: none

.github/workflows/ Try gcc-14.
  .github/workflows/C.yml
  .github/workflows/R.yml
Due: none

.github/workflows/R.yml: Check with stricter CFLAGS.
  .github/workflows/R.yml
Due: none

python/ Handle TypeError in is_integer_value().
  python/src/moocore/_utils.py
Due: src

c/common.h: Fix GCC warning.
  c/common.h
Due: none

python/ Minor fixes.
  python/src/moocore/_moocore.py
Due: src

python/ Remove points that do not strictly dominate ref in hv_approx.
  python/src/moocore/_moocore.py
Due: src

python/ Release v0.1.2
  python/pyproject.toml
Due: none
