Repository multi-objective/moocore: changes, and which Codecov flags are due for each by the changed paths.
All: tests, src

Start development version.
  DEVEL-README.md
  c/Makefile
  python/doc/source/whatsnew/index.rst
  python/pyproject.toml
  r/DESCRIPTION
Due: none

c/ Move EAF_MALLOC from eaf.h to common.h.
  c/common.h
  c/eaf.h
Due: none

r/DESCRIPTION: UseLTO: true.
  r/DESCRIPTION
Due: none

* README.md: Add r-universe badge. [skip ci]
  r/README.md
Due: none

r/README.md: Add r-universe badges.
  r/README.md
Due: none

Sync .bib files. Improve python docs.
  python/doc/source/REFERENCES.bib
  python/doc/source/reference/functions.metrics.rst
  r/inst/REFERENCES.bib
Due: none

Update pre-commit hooks
  .pre-commit-config.yaml
Due: none

python/ Add Hypervolume object-oriented API.
  python/doc/source/reference/functions.metrics.rst
  python/src/moocore/__init__.py
  python/src/moocore/_moocore.py
  python/tests/test_moocore.py
Due: tests, src

python/ Improve documentation of classes following scikit-learn.
  python/doc/source/_templates/base.rst
  python/doc/source/reference/functions.metrics.rst
  python/src/moocore/_moocore.py
Due: src

python/ Document Hypervolume class.
  python/doc/source/whatsnew/index.rst
Due: none

python/ Reimplement Hypervolume class to avoid redundancy.
  python/src/moocore/_moocore.py
Due: src

Store Python wheels from @ 700fa9b87e84bd1f84e235db1bb614975cee1fd9
  moocore-0.1.3.dev0-py3-none-macosx_10_9_universal2.whl
  moocore-0.1.3.dev0-py3-none-macosx_10_9_x86_64.whl
  moocore-0.1.3.dev0-py3-none-macosx_11_0_arm64.whl
  moocore-0.1.3.dev0-py3-none-manylinux_2_17_x86_64.manylinux2014_x86_64.whl
  moocore-0.1.3.dev0-py3-none-musllinux_1_1_x86_64.whl
  moocore-0.1.3.dev0-py3-none-win_amd64.whl
Due: none

Add apply_within_sets, fix issue with Pandas and normalise.
  python/doc/source/whatsnew/index.rst
  python/examples/plot_metrics.py
  python/src/moocore/__init__.py
  python/src/moocore/_moocore.py
  python/src/moocore/_utils.py
  python/tests/test_pandas.py
  python/tox.ini
Due: tests, src

Add Pandas example.
  python/examples/plot_pandas.py
Due: none

Document apply_within_sets
  python/doc/source/reference/functions.io.rst
Due: none

Fixes in plot_pandas.py.
  python/examples/plot_pandas.py
Due: none

python/: Add is_nondominated_within_sets().
  python/doc/source/reference/functions.dominance.rst
  python/doc/source/whatsnew/index.rst
  python/examples/plot_pandas.py
  python/src/moocore/__init__.py
  python/src/moocore/_moocore.py
Due: src

Prepare to release v0.1.3 (Python only)
  c/Makefile
  python/doc/source/whatsnew/index.rst
  python/pyproject.toml
Due: none

Start development version
  DEVEL-README.md
  Makefile
  c/Makefile
  python/pyproject.toml
Due: none

Update pre-commit hooks.
  .pre-commit-config.yaml
  python/pyproject.toml
Due: none

python/examples/plot_pandas.py: Minor improvements.
  python/doc/source/conf.py
  python/examples/plot_pandas.py
Due: none

python/examples/plot_metrics.py: Minor improvements.
  python/examples/plot_metrics.py
Due: none

python/ Require pandas>=2. Add example to tests. Improve Pandas example.
  python/examples/plot_pandas.py
  python/requirements_dev.txt
  python/tests/test_moocore.py
  python/tests/test_pandas.py
  python/tox.ini
Due: tests

python/ Improved apply_within_sets().
  python/doc/source/whatsnew/index.rst
  python/examples/plot_pandas.py
  python/src/moocore/_moocore.py
  python/src/moocore/_utils.py
  python/tests/test_pandas.py
Due: tests, src

Prepare to release v0.1.4
  python/doc/source/whatsnew/index.rst
  python/pyproject.toml
Due: none

Start development version
  Makefile
  python/pyproject.toml
Due: none

python/ Configure sphinx-copybutton to only copy code. Small improvements to documentation.
  python/doc/source/conf.py
  python/src/moocore/_moocore.py
Due: src

testsuite/regtest.py: Always print input filenames. Switch diff direction.
  testsuite/regtest.py
Due: none

c/io.h: Update point_printf_format and add indicator_printf_format. c/nondominated.c: Add --maximise option. c/gcc_attribs.h (ASSUME): New macro.
  c/Makefile
  c/cmdline.h
  c/common.h
  c/dominatedsets.c
  c/eaf.c
  c/epsilon.c
  c/gcc_attribs.h
  c/hv.c
  c/igd.c
  c/io.c
  c/io.h
  c/main-hv.c
  c/ndsort.c
  c/nondominated.c
Due: none

c/gcc_attribs.h: Do not include assert.h here. c/common.h: Include it here.
  c/common.h
  c/gcc_attribs.h
Due: none

r/src/ Fix unprotected variable found by rchk.
  r/src/Rcommon.h
  r/src/Rmoocore.c
Due: none

* python/tests/test_moocore.py: Use assert_array_equal.
  python/tests/test_moocore.py
Due: tests

* python/Makefile: clean compiled code before testing.
  python/Makefile
Due: none

* c/nondominated.h: Specialize find_nondominated_2d to speed up the common case.
  c/nondominated.h
Due: none

Mention Andrea's improvement to the hypervolume algorithm.
  python/src/moocore/_moocore.py
  r/R/hv.R
  r/man/hypervolume.Rd
Due: src

Store Python wheels from @ a80dd88947830d8bfaefeab74c949e1db2f34e22
  moocore-0.1.5.dev0-py3-none-macosx_10_9_universal2.whl
  moocore-0.1.5.dev0-py3-none-macosx_10_9_x86_64.whl
  moocore-0.1.5.dev0-py3-none-macosx_11_0_arm64.whl
  moocore-0.1.5.dev0-py3-none-manylinux_2_17_x86_64.manylinux2014_x86_64.whl
  moocore-0.1.5.dev0-py3-none-musllinux_1_1_x86_64.whl
  moocore-0.1.5.dev0-py3-none-win_amd64.whl
Due: none

* python/ Improve documentation of hv_approx().
  python/doc/source/reference/functions.metrics.rst
Due: none

Path conditions:
  tests: any of: python/tests/**
  src: any of: python/src/**
