Repository multi-objective/moocore: changes, and which Codecov flags are due for each by the changed paths.
All: tests, src

codecov.yml:

fixes:
  - "src/moocore/libmoocore/::" # Python package symlink
  - "src/moocore/::" # R package symlink
  - ".tox/coverage/lib/*/site-packages/::python/src/"

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

flag_management:
  default_rules: # the rules that will be followed for any flag added, generally
    carryforward: true

component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doesn't have a status defined will have a project type one
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: tests  # this is an identifier that should not be changed
      name: tests  # this is a display name, and can be changed freely
      paths:
        - python/tests/**
      statuses:
        - type: project
          target: 100%
          informational: false
        - type: patch

    - component_id: src
      name: src
      paths:
        - python/src/**
      statuses:
        - type: project
          target: auto
          threshold: 1%
          informational: true
        - type: patch

c/hv.c: Separate fpli_hv_ge5d() from hv_recursive(). Add debug counters.
  c/hv.c
Due: none

c/pareto.c (pareto_rank_naive): Simplify.
  c/pareto.c
Due: none

* python/pyproject.toml: Set pytest timeout to 10 seconds. Print 5 slowest tests longer than 1 second. * python/tests/test_moocore.py (test_hv_approx): Avoid long test.
  python/pyproject.toml
  python/tests/test_moocore.py
Due: tests

c/nondominated.h (get_nondominated_set): Use restrict.
  c/nondominated.h
Due: none

c/hv4d.c: Remove unlikely.
  c/hv4d.c
Due: none

c/nondominated.h (find_nondominated_set_agree_): Slight simplification.
  c/nondominated.h
Due: none

python/doc/source/conf.py: Fix scipy intersphinx URL.
  python/doc/source/conf.py
Due: none

c/hv.c: Remove unused code.
  c/hv.c
Due: none

.github/workflows/python.yml: Cache intersphinx inventories.
  .github/workflows/python.yml
Due: none

c/epsilon.h: Use _attr_optimize_finite_math. Improve function specialization and vectorization.
  c/epsilon.h
Due: none

* python/src/moocore/_utils.py (_get_seed_for_c): New. * python/src/moocore/_moocore.py: Use it.
  python/src/moocore/_moocore.py
  python/src/moocore/_utils.py
Due: src

* python/benchmarks/bench.py: Add support for setup= and check= arguments.
  python/benchmarks/bench.py
  python/benchmarks/bench_epsilon.py
  python/benchmarks/bench_hv.py
  python/benchmarks/bench_hvapprox.py
  python/benchmarks/bench_igdplus.py
  python/benchmarks/bench_ndom.py
  python/benchmarks/bench_ndsort.py
Due: none

Implement O(k * n log n) nondominated sorting in 3D.
  c/Makefile
  c/NEWS.md
  c/avl_tiny.h
  c/pareto.c
  c/whv.c
  c/whv_hype.c
Due: none

* c/gcc_attribs.h (ASAN_POISON_MEMORY_REGION): New.
  c/gcc_attribs.h
Due: none

c/pareto.c (pareto_rank_2d): Simplify.
  c/pareto.c
Due: none

* c/hv.c: Merge fpli_dlnode_t into dlnode_t.
  c/Makefile
  c/hv.c
  c/hv4d.c
  c/hv4d_priv.h
  c/hv_priv.h
  c/libhv.mk
Due: none

python/Makefile (doc,fastdoc): Do not clean.
  python/Makefile
Due: none

c/hvapprox.c: Simplify ASSUME conditions.
  c/hvapprox.c
Due: none

r/.gitignore: Ignore cran-comments.md .
  r/.gitignore
Due: none

python/benchmarks/bench_igdplus.py: Add DESDEO but comment it out. python/doc/source/benchmarks.inc.rst: Mention that IGD+ in DESDEO is too slow.
  python/benchmarks/bench_igdplus.py
  python/doc/source/benchmarks.inc.rst
Due: none

python/ Improve typing.
  python/pyproject.toml
  python/src/moocore/_moocore.py
  python/src/moocore/_utils.py
Due: src

* python/tests/test_moocore.py (test_hv_approx_default_seed): New test. (check_hvc): check also maximise=True.
  python/tests/test_moocore.py
Due: tests

* python/tox.ini: Test release and debug builds. * python/src/moocore/_ffi_build.py: MOOCORE_DEBUG environment variable.
  python/src/moocore/_ffi_build.py
  python/tox.ini
Due: src

c/io_priv.h: Formatting.
  c/io_priv.h
Due: none

c/hv.c (fpli_setup_cdllist): Simplify.
  c/hv.c
Due: none

c/Makefile: Handle LDLIBS and LDFLAGS.
  c/Makefile
Due: none

python/setup.py: Force recompilation of C extensions.
  python/setup.py
Due: none

python/tests/test_moocore.py (test_pareto_rank): Use keep_weakly=True.
  python/tests/test_moocore.py
Due: tests

c/hv_priv.h: Use restrict for x.
  c/hv_priv.h
Due: none

* c/gcc_attribs.h (_attr_optimize_finite_and_associative_math): New attribute. * c/hv.c (one_point_hv): Use it.
  c/gcc_attribs.h
  c/hv.c
Due: none

python/src/moocore/_ffi_build.py: Add -march= to link flags. Handle DEBUG.
  python/src/moocore/_ffi_build.py
Due: src

Start development of v0.2.0
  Makefile
  c/Makefile
  python/pyproject.toml
  r/DESCRIPTION
  release.py
Due: none

c/hvapprox.c (compute_hua_wang_direction): Help the vectorizer by pre-computing sin() and cos().
  c/hvapprox.c
Due: none

r, python/ Add formal definition of Pareto ranking.
  python/src/moocore/_moocore.py
  r/R/nondominated.R
  r/man/nondominated.Rd
Due: src

Compute a 4D hv contribution in the base case.
  c/hv.c
  c/hv4d_priv.h
  c/hv_priv.h
Due: none

python/benchmarks/bench.py (get_package_version): Use importlib.
  python/benchmarks/bench.py
Due: none

python/ Benchmark seqme and fast-pareto.
  python/benchmarks/bench_ndom.py
  python/doc/source/_static/bench/ndom_bench-ran3d-40k-time.png
  python/doc/source/_static/bench/ndom_bench-sphere-4d-time.png
  python/doc/source/_static/bench/ndom_bench-sphere-5d-time.png
  python/doc/source/_static/bench/ndom_bench-test2D-200k-time.png
  python/doc/source/_static/bench/wndom_bench-ran3d-40k-time.png
  python/doc/source/_static/bench/wndom_bench-sphere-4d-time.png
  python/doc/source/_static/bench/wndom_bench-sphere-5d-time.png
  python/doc/source/_static/bench/wndom_bench-test2D-200k-time.png
  python/doc/source/benchmarks.inc.rst
  python/pyproject.toml
Due: none

c/epsilon.h: Fix wrong assert.
  c/epsilon.h
Due: none

* hv4d_priv.h: Add return type.
  c/hv4d_priv.h
Due: none

hv4d_priv.h: Simplify code and add comments.
  c/hv4d_priv.h
Due: none
