Repository multi-objective/moocore: changes, and which Codecov flags are due for each by the changed paths.
All: tests, src

python/src/moocore/_moocore.py (is_nondominated): Mention the best-known algorithm.
  python/src/moocore/_moocore.py
Due: src

python/examples/plot_generate.py: Shorten code.
  python/examples/plot_generate.py
Due: none

Minor documentation improvements.
  python/doc/source/index.rst
  python/doc/source/reference/functions.dominance.rst
  python/doc/source/reference/functions.io.rst
  r/README.md
Due: none

python/ Add hv_approx() benchmarks.
  python/benchmarks/bench.py
  python/benchmarks/bench_hvapprox.py
  python/doc/source/_static/hvapprox_bench-DTLZLinearShape.6d-time.png
  python/doc/source/_static/hvapprox_bench-DTLZLinearShape.6d-values.png
  python/doc/source/_static/hvapprox_bench-DTLZSphereShape.10d-time.png
  python/doc/source/_static/hvapprox_bench-DTLZSphereShape.10d-values.png
  python/doc/source/conf.py
  python/doc/source/index.rst
Due: none

python/ Add DESDEO to the is_nondominated benchmarks.
  python/benchmarks/bench.py
  python/benchmarks/bench_ndom.py
  python/doc/source/_static/ndom_bench-ran3d-10k-time.png
  python/doc/source/_static/ndom_bench-test2D-200k-time.png
  python/doc/source/_static/wndom_bench-ran3d-10k-time.png
  python/doc/source/_static/wndom_bench-test2D-200k-time.png
  python/doc/source/index.rst
Due: none

README.md: Minor.
  README.md
Due: none

python/ Update hvapprox benchmarks.
  python/benchmarks/bench_hvapprox.py
  python/benchmarks/python-requirements.txt
  python/doc/source/_static/bench/eps_bench-rmnk_10D_random_search-time.png
  python/doc/source/_static/bench/hv_bench-DTLZLinearShape.3d-time.png
  python/doc/source/_static/bench/hv_bench-DTLZLinearShape.4d-time.png
  python/doc/source/_static/bench/hv_bench-DTLZLinearShape.5d-time.png
  python/doc/source/_static/bench/hv_bench-DTLZLinearShape.6d-time.png
  python/doc/source/_static/bench/hvapprox_bench-DTLZLinearShape.3d-time.png
  python/doc/source/_static/bench/hvapprox_bench-DTLZLinearShape.3d-values.png
  python/doc/source/_static/bench/hvapprox_bench-DTLZLinearShape.4d-time.png
  python/doc/source/_static/bench/hvapprox_bench-DTLZLinearShape.4d-values.png
  python/doc/source/_static/bench/hvapprox_bench-DTLZLinearShape.6d-time.png
  python/doc/source/_static/bench/hvapprox_bench-DTLZLinearShape.6d-values.png
  python/doc/source/_static/bench/hvapprox_bench-DTLZLinearShape.9d-time.png
  python/doc/source/_static/bench/hvapprox_bench-DTLZLinearShape.9d-values.png
  python/doc/source/_static/bench/hvapprox_bench-DTLZSphereShape.10d-time.png
  python/doc/source/_static/bench/hvapprox_bench-DTLZSphereShape.10d-values.png
  python/doc/source/_static/bench/hvapprox_bench-DTLZSphereShape.6d-time.png
  python/doc/source/_static/bench/hvapprox_bench-DTLZSphereShape.6d-values.png
  python/doc/source/_static/bench/hvapprox_bench-ran.6d-time.png
  python/doc/source/_static/bench/hvapprox_bench-ran.6d-values.png
  python/doc/source/_static/bench/hvapprox_bench-ran.9d-time.png
  python/doc/source/_static/bench/hvapprox_bench-ran.9d-values.png
  python/doc/source/_static/bench/igd_plus_bench-ran.40000pts.3d-time.png
  python/doc/source/_static/bench/ndom_bench-ran3d-10k-time.png
  python/doc/source/_static/bench/ndom_bench-test2D-200k-time.png
  python/doc/source/_static/bench/wndom_bench-ran3d-10k-time.png
  python/doc/source/_static/bench/wndom_bench-test2D-200k-time.png
  python/doc/source/_static/hvapprox_bench-DTLZLinearShape.6d-time.png
  python/doc/source/_static/hvapprox_bench-DTLZLinearShape.6d-values.png
  python/doc/source/_static/hvapprox_bench-DTLZSphereShape.10d-time.png
  python/doc/source/_static/hvapprox_bench-DTLZSphereShape.10d-values.png
  python/doc/source/index.rst
Due: none

Store Python wheels from @ f3ce6fb859c98f3a9f169452e855eea2049ea56b
  moocore-0.1.9.dev0-py3-none-macosx_10_9_universal2.whl
  moocore-0.1.9.dev0-py3-none-macosx_10_9_x86_64.whl
  moocore-0.1.9.dev0-py3-none-macosx_11_0_arm64.whl
  moocore-0.1.9.dev0-py3-none-manylinux_2_17_x86_64.manylinux2014_x86_64.manylinux_2_28_x86_64.whl
  moocore-0.1.9.dev0-py3-none-musllinux_1_2_x86_64.whl
  moocore-0.1.9.dev0-py3-none-win_amd64.whl
Due: none

TODO: add new items.
  TODO
Due: none

* python/src/moocore/_moocore.py: Cite GueFonPaq2021hv.
  bibkeys.txt
  python/doc/source/REFERENCES.bib
  python/src/moocore/_moocore.py
  r/inst/REFERENCES.bib
Due: src

c/hv3dplus.c: Update comment. c/hv_priv.h: Minor.
  c/hv3dplus.c
  c/hv_priv.h
Due: none

WIP: hvc3d.c: Duplicated and dominated points are not correct.
  c/Makefile
  c/hv_contrib.c
  c/hv_priv.h
  c/hvc3d.c
  c/libhv.mk
  python/src/moocore/_ffi_build.py
Due: src

fixup
  c/hvc3d.c
Due: none

* python/tests/test_moocore.py: Add hv_contributions test.
  python/tests/test_moocore.py
Due: tests

* sort.h (all_equal): New.
  c/sort.h
Due: none

* hv_contrib.c: Set hvc to zero. Print more info when checking fails.
  c/hv_contrib.c
Due: none

* hvc3d.c: Handle dominated points (not working yet).
  c/hvc3d.c
Due: none

* python/doc/source/whatsnew/index.rst: Mention new functions in separate items.
  python/doc/source/whatsnew/index.rst
Due: none

* python/src/moocore/_moocore.py: Documentation improvements.
  python/src/moocore/_moocore.py
Due: src

More consistent README.md
  README.md
  python/README.md
  python/doc/source/index.rst
  r/README.md
Due: none

* c/hv_contrib.c (hv_contributions): Initialize hvc to zero.
  c/hv_contrib.c
Due: none

* c/hv_contrib.c (hv_contributions): Handle n==1 here. (hvc_1point_diffs): Remove one point at a time instead of using ref.
  c/hv_contrib.c
Due: none

* c/whv_hype.c: Fix warning in call to free().
  c/whv_hype.c
Due: none

Store Python wheels from @ 1b3a18254bf7c9d37e24744bfa8d20279bce9bb4
  moocore-0.1.9.dev0-py3-none-macosx_10_9_universal2.whl
  moocore-0.1.9.dev0-py3-none-macosx_10_9_x86_64.whl
  moocore-0.1.9.dev0-py3-none-macosx_11_0_arm64.whl
  moocore-0.1.9.dev0-py3-none-manylinux_2_17_x86_64.manylinux2014_x86_64.manylinux_2_28_x86_64.whl
  moocore-0.1.9.dev0-py3-none-musllinux_1_2_x86_64.whl
  moocore-0.1.9.dev0-py3-none-win_amd64.whl
Due: none

* c/epsilon.c, c/epsilon.h: Remove useless typecasting.
  c/epsilon.c
  c/epsilon.h
Due: none

r,python/ Use m for the number of objectives consistently.
  python/src/moocore/_moocore.py
  r/R/nondominated.R
  r/man/nondominated.Rd
  r/tests/testthat/test-doctest-is_nondominated.R
Due: src

c/hv.c: stdint.h is already in common.h.
  c/hv.c
Due: none

Ignore dominated points in `hv_contributions()`
  c/Makefile
  c/NEWS.md
  c/hv.h
  c/hv_contrib.c
  c/main-hv.c
  c/ndsort.c
  c/nondominated.h
  python/doc/source/whatsnew/index.rst
  python/src/moocore/_moocore.py
  python/src/moocore/libmoocore.h
  r/NEWS.md
  r/R/hv.R
  r/man/hv_contributions.Rd
  r/src/Rcommon.h
  r/src/Rmoocore.c
  r/src/init.h
  r/tests/testthat/test-doctest-hv_contributions.R
  r/tests/testthat/test-hv.R
Due: src

c/nondominated.h: Use restrict in more places.
  c/nondominated.h
Due: none

python/ Silence ruff warnings.
  python/pyproject.toml
  python/setup.py
  python/src/moocore/_moocore.py
Due: src

c/nondominated.h: Use ASSUME to silence false warning.
  c/nondominated.h
Due: none

c/hv_contrib.c: Use _true instead of _tmp.
  c/hv_contrib.c
Due: none

c/hv_priv.h (setup_cdllist): Do not check weakly_dominance here.
  c/hv_priv.h
Due: none

c/hv.c,hv_priv.h: ndomr field is unused for now.
  c/hv.c
  c/hv_priv.h
Due: none

* common.h (MOOCORE_STRINGIFY, MOOCORE_STRINGIFY_MACRO): New macros. * io_priv.h: Use here. * cmdline.h (version): Report debug level.
  c/cmdline.h
  c/common.h
  c/io_priv.h
Due: none

* c/hv.c,hv3dplus.c: Rename hv3d_plus() to hv3d(). * c/hv3dplus.c: Update comment.
  c/hv.c
  c/hv3dplus.c
Due: none

* hv_contrib.c (hvc_check): More details in case of error. * hv_priv.h: Minor formatting. * sort.h: Add comment.
  c/hv_contrib.c
  c/hv_priv.h
  c/sort.h
Due: none

Implement HVC3D algorithm in C, R and Python.
  c/Makefile
  c/NEWS.md
  c/hv3d_priv.h
  c/hv3dplus.c
  c/hv4d.c
  c/hv_contrib.c
  c/hv_priv.h
  c/hvc3d.c
  c/libhv.mk
  c/sort.h
  python/doc/source/whatsnew/index.rst
  python/src/moocore/_ffi_build.py
  python/src/moocore/_moocore.py
  python/tests/test_moocore.py
  r/NEWS.md
  r/R/hv.R
  r/man/hv_contributions.Rd
  r/src/Makevars
  r/tests/testthat/test-doctest-hv_contributions.R
Due: tests, src

Path conditions:
  tests: any of: python/tests/**
  src: any of: python/src/**
