Repository multi-objective/moocore: changes, and which Codecov flags are due for each by the changed paths.
All: tests, src

hv.c: Delete the_point before PART 1.
  c/hv.c
  c/hv4d_priv.h
  c/hv_priv.h
Due: none

Document improved HV algorithm.
  c/NEWS.md
  python/doc/source/whatsnew/index.rst
  python/src/moocore/_moocore.py
  r/NEWS.md
  r/R/hv.R
  r/man/hypervolume.Rd
Due: src

.github/workflows/R.yml: Run pkgdown and rchk for PRs. [skip ci]
  .github/workflows/R.yml
Due: none

hv.c: Minor simplification.
  c/hv.c
Due: none

python/src/moocore/data: Compress CPFs.txt, spherical-250-10-3d.txt and uniform-250-10-3d.txt with xz. Update examples and tests.
  python/examples/plot_hv_approx.py
  python/examples/plot_metrics.py
  python/src/moocore/_moocore.py
  python/src/moocore/data/CPFs.txt
  python/src/moocore/data/CPFs.txt.xz
  python/src/moocore/data/spherical-250-10-3d.txt
  python/src/moocore/data/spherical-250-10-3d.txt.xz
  python/src/moocore/data/uniform-250-10-3d.txt
  python/src/moocore/data/uniform-250-10-3d.txt.xz
  python/tests/test_data/expected_output/R_generate_expected_output.R
  python/tests/test_moocore.py
Due: tests, src

python/src/moocore/_ffi_build.py: Compile with -fvisibility=hidden.
  python/src/moocore/_ffi_build.py
Due: src

python/src/moocore/_ffi_build.py: Simplify cflags, ldflags. Use -Wl,-z,now.
  python/src/moocore/_ffi_build.py
Due: src

python/README.md: Mention ClickPy Dashboard.
  python/README.md
Due: none

.github/workflows/python.yml: Do not test os+python combinations that are already tested when building the wheels.
  .github/workflows/python.yml
Due: none

Document that hypervolume computation is #P-hard
  bibkeys.txt
  python/doc/source/REFERENCES.bib
  python/doc/source/reference/functions.metrics.rst
  r/R/hv.R
  r/inst/REFERENCES.bib
  r/man/hypervolume.Rd
  r/tests/testthat/test-doctest-hv_contributions.R
Due: none

Switch argument order of fpli_hv() to pass first the number of rows then the number of columns.
  c/NEWS.md
  c/common.h
  c/config.h
  c/hv.c
  c/hv.h
  c/hv_contrib.c
  c/io.c
  c/io.h
  c/libmoocore-config.h
  c/main-hv.c
  python/src/moocore/_moocore.py
  python/src/moocore/libmoocore.h
  r/src/Rmoocore.c
Due: src

Switch argument order of IGD(), IGD_plus(), avg_Hausdorff_dist(), epsilon_additive(), epsilon_mult() to pass first the number of rows then the number of columns.
  c/NEWS.md
  c/epsilon.h
  c/igd.c
  c/igd.h
  python/src/moocore/_moocore.py
  python/src/moocore/libmoocore.h
  r/src/Rmoocore.c
Due: src

Switch argument order of hv_contributions() to pass first the number of rows then the number of columns.
  c/NEWS.md
  c/hv.h
  c/hv_contrib.c
  c/main-hv.c
  c/ndsort.c
  python/src/moocore/_moocore.py
  python/src/moocore/libmoocore.h
  r/src/Rmoocore.c
Due: src

Switch argument order of `find_weakly_dominated_point()`, `is_nondominated()`, `pareto_rank()`, `agree_normalise()` to pass first the number of rows then the number of columns.
  c/NEWS.md
  c/cmdline.h
  c/dominatedsets.c
  c/epsilon.c
  c/hv_contrib.c
  c/igd.c
  c/main-hv.c
  c/main-hvapprox.c
  c/ndsort.c
  c/nondominated.c
  c/nondominated.h
  c/pareto.c
  c/whv_hype.c
  python/src/moocore/_moocore.py
  python/src/moocore/libmoocore.h
  r/src/Rmoocore.c
Due: src

Switch argument order of hv_approx_hua_wang(), hv_approx_normal() to pass first the number of rows then the number of columns.
  c/NEWS.md
  c/cmdline.c
  c/cmdline.h
  c/dominatedsets.c
  c/epsilon.c
  c/hv_priv.h
  c/hvapprox.c
  c/hvapprox.h
  c/igd.c
  c/io.h
  c/main-hv.c
  c/main-hvapprox.c
  c/ndsort.c
  c/nondominated.c
  c/nondominated.h
  c/sort.h
  python/src/moocore/_moocore.py
  python/src/moocore/libmoocore.h
  r/src/Rmoocore.c
Due: src

Store Python wheels from @ 1eaf98c53f986678aa97083e4a8aba41629e6d9a
  moocore-0.2.0.dev0-cp310-abi3-macosx_10_9_universal2.whl
  moocore-0.2.0.dev0-cp310-abi3-manylinux2014_aarch64.manylinux_2_17_aarch64.manylinux_2_28_aarch64.whl
  moocore-0.2.0.dev0-cp310-abi3-manylinux2014_x86_64.manylinux_2_17_x86_64.manylinux_2_28_x86_64.whl
  moocore-0.2.0.dev0-cp310-abi3-musllinux_1_2_aarch64.whl
  moocore-0.2.0.dev0-cp310-abi3-musllinux_1_2_x86_64.whl
  moocore-0.2.0.dev0-cp310-abi3-win_amd64.whl
  moocore-0.2.0.dev0-cp310-abi3-win_arm64.whl
Due: none

c/hv.h: Include stdbool.h for bool.
  c/hv.h
Due: none

Add basic MATLAB support. Move MATLAB functionality from c/ to matlab/
  .github/workflows/matlab.yml
  README.md
  c/Makefile
  c/README.md
  matlab/.gitignore
  matlab/Hypervolume_MEX.c
  matlab/Makefile
  matlab/README.md
  matlab/hypervolume.m
Due: none

c/nondominated.c: Minor formatting.
  c/nondominated.c
Due: none

* python/tests/test_immutability.py: Increase coverage.
  python/tests/test_immutability.py
Due: tests

python/src/moocore/_ffi_build.py: nocov line.
  python/src/moocore/_ffi_build.py
Due: src

c/nondominated.h (check_all_minimize_maximize): Improve.
  c/nondominated.h
Due: none

* c/epsilon.h (epsilon_helper_): Small simplification. (epsilon_additive_ind): Make minmax the first argument. * c/dominatedsets.c: Update call.
  c/dominatedsets.c
  c/epsilon.h
Due: none

python/tests/test_moocore.py (test_igd): Test maximise.
  python/tests/test_moocore.py
Due: tests

* python/pyproject.toml [tool.gcovr]: Exclude ASSUME(), # nocov and unreachable().
  python/pyproject.toml
Due: none

Fix bug in epsilon_mult() with mixed minimization and maximization.
  c/NEWS.md
  c/cmdline.h
  c/dominatedsets.c
  c/epsilon.c
  c/epsilon.h
  c/igd.c
  c/igd.h
  c/io.h
  c/ndsort.c
  c/nondominated.c
  c/nondominated.h
  c/whv_hype.c
  python/doc/source/whatsnew/index.rst
  python/tests/test_moocore.py
  r/NEWS.md
Due: tests

* c/igd.h (gd_common_helper_): Simplify slightly.
  c/igd.h
Due: none

* c/config.h: Define MOOCORE_DIMENSION_MAX as 31 and use it everywhere. * c/power_int.h: Rename fast_pow_uint_max32 as fast_pow_uint_max31.
  c/config.h
  c/epsilon.h
  c/hvapprox.c
  c/igd.h
  c/pow_int.h
Due: none

Store Python wheels from @ 008cba7eb458a3d4418299354509ed878764eced
  moocore-0.2.0.dev0-cp310-abi3-macosx_10_9_universal2.whl
  moocore-0.2.0.dev0-cp310-abi3-manylinux2014_aarch64.manylinux_2_17_aarch64.manylinux_2_28_aarch64.whl
  moocore-0.2.0.dev0-cp310-abi3-manylinux2014_x86_64.manylinux_2_17_x86_64.manylinux_2_28_x86_64.whl
  moocore-0.2.0.dev0-cp310-abi3-musllinux_1_2_aarch64.whl
  moocore-0.2.0.dev0-cp310-abi3-musllinux_1_2_x86_64.whl
  moocore-0.2.0.dev0-cp310-abi3-win_amd64.whl
  moocore-0.2.0.dev0-cp310-abi3-win_arm64.whl
Due: none

c/pow_int.h: Add comment and FIXME.
  c/pow_int.h
Due: none

c/Makefile: Add missing QUIET_CC and QUIET_CXX prefixes.
  c/Makefile
Due: none

hvapprox: Add Rphi method=3.
  c/hvapprox.c
  c/hvapprox.h
  c/main-hvapprox.c
  python/examples/plot_hv_approx.py
  python/src/moocore/_moocore.py
  python/src/moocore/libmoocore.h
Due: tests, src

Implement PRAGMA_OMP
  c/gcc_attribs.h
  c/hvapprox.c
  c/main-hvapprox.c
Due: none

*c/hv4d_priv.h: Remove assert and fix minor bug.
  c/hv4d_priv.h
Due: none

* c/hv.c: Use ->vol instead of ->x for the auxiliary vectors. (fpli_hv4d): Delete unused. * c/hv4d_priv.h: Simplify code, fix warnings, add more asserts and comments. (update_bound_3d): New.
  c/hv.c
  c/hv4d_priv.h
Due: none

Few minor cleanups
  c/hv.c
  c/hv4d_priv.h
Due: none

Add documentation.
  c/hv4d_priv.h
  python/src/moocore/_moocore.py
  r/R/hv.R
  r/man/hypervolume.Rd
Due: src

more simplifications
  c/hv.c
  c/hv4d_priv.h
Due: none

Path conditions:
  tests: any of: python/tests/**, python/examples/**
  src: any of: python/src/**
