Repository multi-objective/moocore: changes, and which Codecov flags are due for each by the changed paths.
All: tests, src

* python/src/moocore/_ffi_build.py: Compile with -g0 when DEBUG=0.
  python/src/moocore/_ffi_build.py
Due: src

* c/nondominated.h (find_dominated_point): Update comment.
  c/nondominated.h
Due: none

c/ Rename nondominated.c to main-nondominated.c
  c/Makefile
  c/main-nondominated.c
Due: none

Store Python wheels from @ a5441fdb211ec9736ed0c5b107e920a8c75cd736
  moocore-0.4.0.dev0-cp310-abi3-macosx_10_9_universal2.whl
  moocore-0.4.0.dev0-cp310-abi3-manylinux2014_aarch64.manylinux_2_17_aarch64.manylinux_2_28_aarch64.whl
  moocore-0.4.0.dev0-cp310-abi3-manylinux2014_x86_64.manylinux_2_17_x86_64.manylinux_2_28_x86_64.whl
  moocore-0.4.0.dev0-cp310-abi3-musllinux_1_2_aarch64.whl
  moocore-0.4.0.dev0-cp310-abi3-musllinux_1_2_x86_64.whl
  moocore-0.4.0.dev0-cp310-abi3-win_amd64.whl
  moocore-0.4.0.dev0-cp310-abi3-win_arm64.whl
Due: none

* python/Makefile (test): Do not modify libmoocore.
  python/Makefile
Due: none

* TODO: Improve details.
  TODO
Due: none

c/NEWS.md: Mention main-nondominated.c.
  c/NEWS.md
Due: none

* c/Makefile (doc): New. Run update_readme.py. * c/update_readme.py: New. * c/README.md: Add markers for update_readme.py and regenerate it.
  c/Makefile
  c/README.md
  c/update_readme.py
Due: none

c/ Unify some command-line options.
  c/NEWS.md
  c/cmdline.h
  c/epsilon.c
  c/igd.c
  c/main-hv.c
  c/main-hvapprox.c
  c/main-nondominated.c
Due: none

python/ Move generate_ndset() to _generate.py
  python/src/moocore/__init__.py
  python/src/moocore/_generate.py
  python/src/moocore/_moocore.py
Due: src

* python/doc/source/REFERENCES.bib: Regenerate. * r/inst/REFERENCES.bib: Regenerate.
  python/doc/source/REFERENCES.bib
  r/inst/REFERENCES.bib
Due: none

Use hypercube and hypersphere everywhere for consistency.
  python/doc/source/benchmarks.inc.rst
  python/examples/plot_generate.py
  python/src/moocore/_generate.py
  r/R/generate.R
  r/man/generate_ndset.Rd
  r/vignettes/articles/generate.Rmd
Due: tests, src

Store Python wheels from @ efafad2094498699377d64b7c7c9ba163639350d
  moocore-0.4.0.dev0-cp310-abi3-macosx_10_9_universal2.whl
  moocore-0.4.0.dev0-cp310-abi3-manylinux2014_aarch64.manylinux_2_17_aarch64.manylinux_2_28_aarch64.whl
  moocore-0.4.0.dev0-cp310-abi3-manylinux2014_x86_64.manylinux_2_17_x86_64.manylinux_2_28_x86_64.whl
  moocore-0.4.0.dev0-cp310-abi3-musllinux_1_2_aarch64.whl
  moocore-0.4.0.dev0-cp310-abi3-musllinux_1_2_x86_64.whl
  moocore-0.4.0.dev0-cp310-abi3-win_amd64.whl
  moocore-0.4.0.dev0-cp310-abi3-win_arm64.whl
Due: none

python/ Implement generate_sequence()
  bibkeys.txt
  python/doc/source/REFERENCES.bib
  python/doc/source/reference/functions.io.rst
  python/doc/source/whatsnew/index.rst
  python/examples/plot_generate_sequence.py
  python/src/moocore/__init__.py
  python/src/moocore/_generate.py
  r/inst/REFERENCES.bib
Due: tests, src

python/examples/*.py: Add a newline to the first line so it is easier to align the underline.
  python/examples/plot_eaf.py
  python/examples/plot_generate.py
  python/examples/plot_hv_approx.py
  python/examples/plot_metrics.py
  python/examples/plot_pandas.py
Due: tests

Update DEAP-er link in README.md
  README.md
Due: none

python/src/moocore/_datasets.py: Update checksum of ran.1000pts.3d.10.
  python/src/moocore/_datasets.py
Due: src

python/ Implement 'cliff-concave' and 'cliff-convex' shapes in `generate_ndset()`.
  bibkeys.txt
  python/doc/source/REFERENCES.bib
  python/doc/source/whatsnew/index.rst
  python/examples/plot_generate.py
  python/src/moocore/_generate.py
  python/tests/test_moocore.py
  r/inst/REFERENCES.bib
Due: tests, src

Port `generate_ndset()` cliff shapes to the R package
  r/NEWS.md
  r/R/generate.R
  r/man/generate_ndset.Rd
  r/tests/testthat/test-generate.R
  r/vignettes/articles/generate.Rmd
Due: none

r/NEWS.md: Add development version number so that is shows on the webpage.
  r/NEWS.md
Due: none

.pre-commit-config.yaml (lorenzwalthert/precommit): Freeze to v0.4.3.9029.
  .pre-commit-config.yaml
Due: none

Port `generate_ndset()` cliff shapes to the R package
  r/NAMESPACE
  r/NEWS.md
  r/R/generate.R
  r/R/moocore-package.R
  r/man/generate_ndset.Rd
  r/tests/testthat/test-generate.R
  r/vignettes/articles/generate.Rmd
Due: none

c/ Move some functions to nondominated.c
  c/Makefile
  c/libhv.mk
  c/nondominated.c
  c/nondominated.h
  c/nondominated_kung.h
  c/pareto.c
  python/src/moocore/_ffi_build.py
  r/src/Makevars
Due: src

* c/io.c (write_sets): Add prefix argument. * c/io.h (write_sets): Update declaration. * c/epsilon.c: Update calls. * c/igd.c: Likewise. * c/main-nondominated.c: Likewise.
  c/epsilon.c
  c/igd.c
  c/io.c
  c/io.h
  c/main-nondominated.c
Due: none

* python/doc/source/my_unused_images.py: New extension. * python/doc/source/conf.py: Enable it.
  python/doc/source/conf.py
  python/doc/source/my_unused_images.py
Due: none

* python/tox.ini: Optimize when building pkg-debug, otherwise the testsuite is too slow.
  python/tox.ini
Due: none

* python/benchmarks/bench.py (__call__): Pad here not in plots(). (plots): Implement show_ci. Simplify.
  python/benchmarks/bench.py
Due: none

python/benchmarks/bench.py (normalise_times): New.
  python/benchmarks/bench.py
Due: none

python/ pymoo already uses moocore for IGD+, compare with DESDEO and jMetalPy.
  python/benchmarks/bench_igdplus.py
  python/doc/source/_static/bench/igd_plus_bench-ran.1000pts.3d-time.png
  python/doc/source/_static/bench/igd_plus_bench-ran.40000pts.3d-time.png
  python/doc/source/benchmarks.inc.rst
Due: none

python/doc/source/_static/bench/ndsort_bench-*-time.png: Regenerate.
  python/doc/source/_static/bench/ndsort_bench-ran-10d-time.png
  python/doc/source/_static/bench/ndsort_bench-ran-2d-time.png
  python/doc/source/_static/bench/ndsort_bench-ran-3d-time.png
  python/doc/source/_static/bench/ndsort_bench-ran-4d-time.png
  python/doc/source/_static/bench/ndsort_bench-ran-5d-time.png
  python/doc/source/_static/bench/ndsort_bench-ran-9d-time.png
Due: none

* python/doc/source/_static/bench/hv_bench-*.png: Regenerate.
  python/doc/source/_static/bench/hv_bench-DTLZLinearShape.3d-time.png
  python/doc/source/_static/bench/hv_bench-DTLZLinearShape.4d-time.png
  python/doc/source/_static/bench/hv_bench-DTLZLinearShape.5d-time.png
  python/doc/source/_static/bench/hv_bench-DTLZLinearShape.6d-time.png
Due: none

python/benchmarks/bench_epsilon.py: jMetal is too slow. Use smaller sets.
  python/benchmarks/bench_epsilon.py
Due: none

c/ Remove AVL-tree code where Treap is used.
  c/Makefile
  c/NEWS.md
  c/avl_tiny.h
  c/hv3d_priv.h
  c/nondominated.c
  c/pareto.c
Due: none

* r/vignettes/articles/benchmarks.Rmd: bbotk uses moocore.
  r/vignettes/articles/benchmarks.Rmd
Due: none

c/ Replace AVL-tree with Treap in most places.
  c/Makefile
  c/hv3d_priv.h
  c/libhv.mk
  c/nondominated.c
  c/pareto.c
  c/treap2d.h
  c/treap2d_dlnode.h
  c/treap2d_fixed_size.c
  c/treap2d_fixed_size.h
  python/src/moocore/_ffi_build.py
  r/src/Makevars
Due: src

* r/vignettes/articles/bench/: Regenerate.
  r/vignettes/articles/bench/bench-hv-DTLZLinearShape.4d.rds
  r/vignettes/articles/bench/bench-hv-DTLZLinearShape.5d.rds
  r/vignettes/articles/bench/bench-hv-DTLZLinearShape.6d.rds
  r/vignettes/articles/bench/bench-hv-spherical-3d.rds
  r/vignettes/articles/bench/bench-ndom-convex-3d.rds
  r/vignettes/articles/bench/bench-ndom-convex-4d.rds
  r/vignettes/articles/bench/bench-ndom-ran3d-40k.rds
  r/vignettes/articles/bench/bench-ndom-ran4d.rds
  r/vignettes/articles/bench/bench-ndom-rmnk-10d.rds
  r/vignettes/articles/bench/bench-ndom-sphere-3d.rds
  r/vignettes/articles/bench/bench-ndom-sphere-5d.rds
  r/vignettes/articles/bench/bench-ndom-test2D-200k.rds
Due: none

Path conditions:
  tests: any of: python/tests/**, python/examples/**
  src: any of: python/src/**
