Repository multi-objective/moocore: changes, and which Codecov flags are due for each by the changed paths.
All: tests, src

pytest: use nUMBER option
  python/pyproject.toml
Due: none

pytest: use nUMBER option
  python/src/moocore/_moocore.py
Due: src

build wheels on macos-14
  .github/workflows/R.yml
  .github/workflows/python.yml
  python/pyproject.toml
Due: none

various updates
  python/Makefile
  python/src/moocore/_moocore.py
  r/R/whv.R
Due: src

move datasets
  python/src/moocore/data/spherical-250-10-3d.txt
  python/src/moocore/data/uniform-250-10-3d.txt
  python/tests/conftest.py
  python/tests/test_moocore.py
Due: tests, src

update pre-commit
  .pre-commit-config.yaml
  python/pyproject.toml
Due: none

Fix url
  python/doc/source/conf.py
Due: none

r/Makefile: rhub is gone.
  r/Makefile
Due: none

Bump R version to 4.0
  .github/workflows/R.yml
  r/DESCRIPTION
Due: none

fix readme links
  python/README.md
  r/README.md
Due: none

Improve docs.
  .pre-commit-config.yaml
  python/doc/source/REFERENCES.bib
  python/doc/source/conf.py
  python/doc/source/reference/functions.metrics.rst
  python/requirements_dev.txt
  python/src/moocore/_moocore.py
  r/R/hv.R
  r/R/igd.R
  r/man/hypervolume.Rd
  r/man/igd.Rd
Due: src

* .github/workflows/R.yml: Update.
  .github/workflows/R.yml
Due: none

python: Fix use of 'is' vs '=='
  python/tests/test_moocore.py
Due: tests

* .github/workflows/R.yml: Fix indent.
  .github/workflows/R.yml
Due: none

python: np.asfarray() removed in Numpy 2.
  python/src/moocore/_moocore.py
Due: src

python: Fixes for Numpy 2.
  python/src/moocore/_moocore.py
  python/tox.ini
Due: src

python/ Improve docs.
  python/doc/source/conf.py
  python/src/moocore/_moocore.py
Due: src

python/ Improve docs.
  python/src/moocore/_moocore.py
Due: src

python.yml: Configure upload_pypi.
  .github/workflows/python.yml
Due: none

python.yml: Avoid repeated wheels.
  .github/workflows/python.yml
Due: none

python.yml: Fix run-tests.
  .github/workflows/python.yml
Due: none

testsuite/regtest.py: Use temporary directories for output.
  testsuite/regtest.py
Due: none

Update Python README.md
  .github/workflows/python.yml
  README.md
  python/README.md
  r/DESCRIPTION
  r/README.md
  r/inst/WORDLIST
  r/man/moocore-package.Rd
  r/tests/spelling.R
Due: none

Minor improvements to typying.
  python/src/moocore/_moocore.py
  r/R/normalise.R
Due: src

c/io.c: Remove redundant initialization.
  c/io.c
Due: none

Trigger CI for changes in a subfolder within c.
  .github/workflows/R.yml
  .github/workflows/python.yml
Due: none

python: Improve docs.
  python/doc/source/conf.py
  python/doc/source/index.rst
  python/doc/source/reference/functions.dominance.rst
  python/pyproject.toml
  python/src/moocore/__init__.py
  python/src/moocore/_moocore.py
Due: src

c/hv.c (hv2d): New faster special case.
  c/Makefile
  c/hv.c
  c/nondominated.h
Due: none

c/Makefile: Add test-nondominated.
  c/Makefile
Due: none

c/nondominated.h (find_nondominated_set_2d_): New.
  c/nondominated.c
  c/nondominated.h
Due: none

Pre-commit for R.
  .pre-commit-config.yaml
  c/rng.h
  python/doc/source/REFERENCES.bib
  r/.Rbuildignore
  r/NEWS.md
  r/R/epsilon.R
  r/R/utils.R
  r/src/init.h
Due: none

c/pareto.c: Add comment.
  c/pareto.c
Due: none

r/inst/REFERENCES.bib: Fix url.
  r/inst/REFERENCES.bib
Due: none

r/: Change where binaries are built before installing them.
  r/.gitignore
  r/src/Makevars
  r/src/install.libs.R
Due: none

python/ Update README.md.
  README.md
  c/README.md
  python/README.md
  r/README.md
Due: none

c/timer.c: fix clang warning.
  c/timer.c
Due: none

r/ Various updates in preparation of the upload * Move data/gcp2x2.rda to mooplot. * Remove xrefs to mooplot. * Update README.md
  r/DESCRIPTION
  r/NEWS.md
  r/R/eaf.R
  r/R/eafdiff.R
  r/R/moocore-package.R
  r/README.md
  r/cleanup
  r/cran-comments.md
  r/data/gcp2x2.rda
  r/man/attsurf2df.Rd
  r/man/eafdiff.Rd
  r/man/gcp2x2.Rd
  r/man/moocore-package.Rd
  r/tests/testthat/test-doctest-eafdiff.R
Due: none

Path conditions:
  tests: any of: python/tests/**
  src: any of: python/src/**
