Repository multi-objective/moocore: changes, and which Codecov flags are due for each by the changed paths.
All: tests, src

codecov.yml:

fixes:
  - "python/src/moocore/libmoocore/::c/" # Python package symlink
  - "src/moocore/libmoocore/::c/" # Python package symlink
  - "r/src/libmoocore/::c/" # R package symlink
  - "src/libmoocore/::c/" # R package symlink
  - ".tox/cov*/lib/*/site-packages/::python/src/"

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

flag_management:
  default_rules: # the rules that will be followed for any flag added, generally
    carryforward: true

component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doesn't have a status defined will have a project type one
        target: auto
        threshold: 1%
        branches:
          - "!main"
      - type: patch
        target: auto
        threshold: 1%
        informational: true

  individual_components:
    - component_id: tests  # this is an identifier that should not be changed
      name: tests  # this is a display name, and can be changed freely
      paths:
        - python/tests/**
        - python/examples/**
      statuses:
        - type: project
          target: 100%
          informational: false
        - type: patch
          target: auto
          threshold: 1%
          informational: true

    - component_id: src
      name: src
      paths:
        - python/src/**
      statuses:
        - type: project
          target: auto
          threshold: 1%
          informational: true
        - type: patch
          target: auto
          threshold: 1%
          informational: true

* .github/workflows/python.yml: Update cibuildwheel to v4.1.1.
  .github/workflows/python.yml
Due: none

* r/vignettes/articles/bench/: Regenerate.
  r/vignettes/articles/bench/bench-hv-DTLZLinearShape.4d.rds
  r/vignettes/articles/bench/bench-hv-DTLZLinearShape.5d.rds
  r/vignettes/articles/bench/bench-hv-DTLZLinearShape.6d.rds
  r/vignettes/articles/bench/bench-hv-spherical-3d.rds
  r/vignettes/articles/bench/bench-ndom-convex-3d.rds
  r/vignettes/articles/bench/bench-ndom-convex-4d.rds
  r/vignettes/articles/bench/bench-ndom-ran3d-40k.rds
  r/vignettes/articles/bench/bench-ndom-ran4d.rds
  r/vignettes/articles/bench/bench-ndom-rmnk-10d.rds
  r/vignettes/articles/bench/bench-ndom-sphere-3d.rds
  r/vignettes/articles/bench/bench-ndom-sphere-5d.rds
  r/vignettes/articles/bench/bench-ndom-test2D-200k.rds
Due: none

* r/vignettes/articles/benchmarks.Rmd: bbotk uses moocore.
  r/vignettes/articles/benchmarks.Rmd
Due: none

python/doc/source/_static/bench/ndsort_bench-*-time.png: Regenerate.
  python/doc/source/_static/bench/ndsort_bench-ran-10d-time.png
  python/doc/source/_static/bench/ndsort_bench-ran-2d-time.png
  python/doc/source/_static/bench/ndsort_bench-ran-3d-time.png
  python/doc/source/_static/bench/ndsort_bench-ran-4d-time.png
  python/doc/source/_static/bench/ndsort_bench-ran-5d-time.png
  python/doc/source/_static/bench/ndsort_bench-ran-9d-time.png
Due: none

TODO: Mention crowding distance.
  TODO
Due: none

* python/benchmarks/bench_hvapprox.py: pymoo uses moocore now. * python/doc/source/_static/bench/hvapprox_bench-*.png: Regenerate. * python/doc/source/benchmarks.inc.rst: Update.
  python/benchmarks/bench_hvapprox.py
  python/doc/source/_static/bench/hvapprox_bench-DTLZLinearShape.3d-time.png
  python/doc/source/_static/bench/hvapprox_bench-DTLZLinearShape.3d-values.png
  python/doc/source/_static/bench/hvapprox_bench-DTLZLinearShape.4d-time.png
  python/doc/source/_static/bench/hvapprox_bench-DTLZLinearShape.4d-values.png
  python/doc/source/_static/bench/hvapprox_bench-DTLZLinearShape.6d-time.png
  python/doc/source/_static/bench/hvapprox_bench-DTLZLinearShape.6d-values.png
  python/doc/source/_static/bench/hvapprox_bench-DTLZLinearShape.9d-time.png
  python/doc/source/_static/bench/hvapprox_bench-DTLZLinearShape.9d-values.png
  python/doc/source/_static/bench/hvapprox_bench-DTLZSphereShape.10d-time.png
  python/doc/source/_static/bench/hvapprox_bench-DTLZSphereShape.10d-values.png
  python/doc/source/_static/bench/hvapprox_bench-DTLZSphereShape.6d-time.png
  python/doc/source/_static/bench/hvapprox_bench-DTLZSphereShape.6d-values.png
  python/doc/source/_static/bench/hvapprox_bench-ran.6d-time.png
  python/doc/source/_static/bench/hvapprox_bench-ran.6d-values.png
  python/doc/source/_static/bench/hvapprox_bench-ran.9d-time.png
  python/doc/source/_static/bench/hvapprox_bench-ran.9d-values.png
  python/doc/source/benchmarks.inc.rst
Due: none

r/vignettes/articles/benchmarks.Rmd: Use option 'check' of atime.
  r/vignettes/articles/benchmarks.Rmd
Due: none

Implement FPRAS by Bringmann and Friedrich for approximating the hypervolume.
  bibkeys.txt
  c/NEWS.md
  c/common.h
  c/config.h
  c/gcc_attribs.h
  c/hvapprox.c
  c/hvapprox.h
  c/main-hvapprox.c
  c/rng.h
  c/rng_alias.h
  python/benchmarks/bench_hvapprox.py
  python/doc/source/REFERENCES.bib
  python/doc/source/benchmarks.inc.rst
  python/doc/source/reference/functions.metrics.rst
  python/doc/source/whatsnew/index.rst
  python/examples/plot_hv_approx.py
  python/src/moocore/__init__.py
  python/src/moocore/_moocore.py
  python/src/moocore/libmoocore.h
  python/tests/test_moocore.py
  r/NAMESPACE
  r/NEWS.md
  r/R/hv_approx.R
  r/inst/REFERENCES.bib
  r/man/hv_approx_fpras.Rd
  r/src/Rmoocore.c
  r/src/init.h
  r/tests/testthat/test-doctest-hv_approx_fpras.R
  r/tests/testthat/test-hv_approx.R
  r/vignettes/articles/hv_approx.Rmd
  tools/test-rng_alias.c
Due: tests, src

* python/doc/source/_static/bench/: Regenerate hvapprox-*.png. Delete 3D and 4D results.
  python/doc/source/_static/bench/hvapprox_bench-DTLZLinearShape.3d-time.png
  python/doc/source/_static/bench/hvapprox_bench-DTLZLinearShape.3d-values.png
  python/doc/source/_static/bench/hvapprox_bench-DTLZLinearShape.4d-time.png
  python/doc/source/_static/bench/hvapprox_bench-DTLZLinearShape.4d-values.png
  python/doc/source/_static/bench/hvapprox_bench-DTLZLinearShape.6d-time.png
  python/doc/source/_static/bench/hvapprox_bench-DTLZLinearShape.6d-values.png
  python/doc/source/_static/bench/hvapprox_bench-DTLZLinearShape.9d-time.png
  python/doc/source/_static/bench/hvapprox_bench-DTLZLinearShape.9d-values.png
  python/doc/source/_static/bench/hvapprox_bench-DTLZSphereShape.10d-time.png
  python/doc/source/_static/bench/hvapprox_bench-DTLZSphereShape.10d-values.png
  python/doc/source/_static/bench/hvapprox_bench-DTLZSphereShape.6d-time.png
  python/doc/source/_static/bench/hvapprox_bench-DTLZSphereShape.6d-values.png
  python/doc/source/_static/bench/hvapprox_bench-ran.6d-time.png
  python/doc/source/_static/bench/hvapprox_bench-ran.6d-values.png
  python/doc/source/_static/bench/hvapprox_bench-ran.9d-time.png
  python/doc/source/_static/bench/hvapprox_bench-ran.9d-values.png
Due: none

* python/src/moocore/_moocore.py (_unary_refset_common): ref is 2D, use np2d_to_double_array().
  python/src/moocore/_moocore.py
Due: src

README.md: Use branch=main for the build-badges.
  c/README.md
  matlab/README.md
  python/README.md
  r/README.md
Due: none

* python/src/moocore/_moocore.py: Remove redundant ffi.cast().
  python/src/moocore/_moocore.py
Due: src

The Python package can be built with sanitizers (asan, ubsan).
  python/README.md
  python/src/moocore/_ffi_build.py
Due: src

* python/benchmarks/bench.py (plots): Add xlabel argument.
  python/benchmarks/bench.py
Due: none

python/src/moocore/libmoocore.h: Minor formatting.
  python/src/moocore/libmoocore.h
Due: src

c/gcc_attribs.h (__must_check): Rename as _attr_warn_unused_result.
  c/gcc_attribs.h
Due: none

* c/hvapprox.c (euclidean_norm): Move to ... * c/common.h: ... here.
  c/common.h
  c/hvapprox.c
Due: none

c/Makefile (clean-objs): New target.
  c/Makefile
Due: none

* c/hv_priv.h: Update comment.
  c/hv_priv.h
Due: none

* c/nondominated.h (find_nondominated_3d_impl_sorted): Simplify slightly.
  c/nondominated.h
Due: none

* c/eaf3d.c: Simplify slightly.
  c/eaf3d.c
Due: none

c/Makefile: Add nondominated_kung.h as a requisite of nondominated.o.
  c/Makefile
Due: none

python/src/moocore/_moocore.py (apply_within_sets): Use +IGNORE_EXCEPTION_DETAIL.
  python/src/moocore/_moocore.py
Due: src

python/ Clean up a few type annotations.
  python/pyproject.toml
  python/src/moocore/_datasets.py
  python/src/moocore/_docsubstitute.py
  python/src/moocore/_ffi_build.py
Due: src

python/src/moocore/_datasets.py (get_dataset_path): Make sure we have a Path.
  python/src/moocore/_datasets.py
Due: src

python/ More fixes to type annotations.
  python/src/moocore/_moocore.py
  python/src/moocore/_utils.py
Due: src

* python/src/moocore/_moocore.py: Use match and improve error-handling. * python/tests/test_moocore.py (test_whv_hype_errors): New.
  python/src/moocore/_moocore.py
  python/tests/test_moocore.py
Due: tests, src

* python/tox.ini: Use ty instead of mypy. * python/pyproject.toml: Remove mypy configuration. Add [tool.ty.rules].
  python/pyproject.toml
  python/tox.ini
Due: none

python/src/moocore/_docsubstitute.py: Handle Callable without __name__.
  python/src/moocore/_docsubstitute.py
Due: src

Store Python wheels from @ a24279decd25c0c178f540aa807bc72e9416e37c
  moocore-0.4.0.dev0-cp310-abi3-macosx_10_9_universal2.whl
  moocore-0.4.0.dev0-cp310-abi3-manylinux2014_aarch64.manylinux_2_17_aarch64.manylinux_2_28_aarch64.whl
  moocore-0.4.0.dev0-cp310-abi3-manylinux2014_x86_64.manylinux_2_17_x86_64.manylinux_2_28_x86_64.whl
  moocore-0.4.0.dev0-cp310-abi3-musllinux_1_2_aarch64.whl
  moocore-0.4.0.dev0-cp310-abi3-musllinux_1_2_x86_64.whl
  moocore-0.4.0.dev0-cp310-abi3-win_amd64.whl
  moocore-0.4.0.dev0-cp310-abi3-win_arm64.whl
Due: none

DEAP-er uses moocore
  README.md
Due: none

python/benchmarks/bench.py: Use optipng for all PNG output.
  python/benchmarks/bench.py
Due: none

* python/src/moocore/_moocore.py (is_nondominated): See also any_dominated.
  python/src/moocore/_moocore.py
Due: src

c/ Replace AVL-tree with Treap in most places.
  c/NEWS.md
  c/hv3d_priv.h
  c/nondominated.h
  c/nondominated_kung.h
  c/pareto.c
  c/treap.h
Due: none

Store Python wheels from @ 414100d8773cabb4fc185e74377e069916fc88c5
  moocore-0.4.0.dev0-cp310-abi3-macosx_10_9_universal2.whl
  moocore-0.4.0.dev0-cp310-abi3-manylinux2014_aarch64.manylinux_2_17_aarch64.manylinux_2_28_aarch64.whl
  moocore-0.4.0.dev0-cp310-abi3-manylinux2014_x86_64.manylinux_2_17_x86_64.manylinux_2_28_x86_64.whl
  moocore-0.4.0.dev0-cp310-abi3-musllinux_1_2_aarch64.whl
  moocore-0.4.0.dev0-cp310-abi3-musllinux_1_2_x86_64.whl
  moocore-0.4.0.dev0-cp310-abi3-win_amd64.whl
  moocore-0.4.0.dev0-cp310-abi3-win_arm64.whl
Due: none

* c/maxminclamp.h: Use parentheses around macro arguments.
  c/maxminclamp.h
Due: none

* c/radixsort.h: Small functions should be static inline.
  c/radixsort.h
Due: none

TODO: Mention GBOS.
  TODO
Due: none
