Repository multi-objective/moocore: changes, and which Codecov flags are due for each by the changed paths.
All: tests, src

c/eaf3d.c: Add several FIXMEs.
  c/eaf3d.c
Due: none

c/hv.c: More simplifications.
  c/hv.c
Due: none

python/benchmarks: Add HV 5d and 6d benchmarks.
  python/doc/source/_static/hv_bench-DTLZLinearShape.3d-time.png
  python/doc/source/_static/hv_bench-DTLZLinearShape.4d-time.png
  python/doc/source/_static/hv_bench-DTLZLinearShape.5d-time.png
  python/doc/source/_static/hv_bench-DTLZLinearShape.6d-time.png
  python/doc/source/index.rst
Due: none

c/hv.c: Use ASSUME to avoid -Walloc-larger-than warning
  c/hv.c
Due: none

c/gcc_attribs.h: Cleanup.
  c/common.h
  c/gcc_attribs.h
Due: none

R/eaf.R: Minor documentation edits.
  r/R/eaf.R
  r/man/Vorob.Rd
  r/man/compute_eaf_call.Rd
  r/man/eaf.Rd
Due: none

r/vignettes/articles/REFERENCES.bib: Symlink. r/vignettes/articles/eaf.Rmd: Add references. Cleanup.
  r/vignettes/articles/REFERENCES.bib
  r/vignettes/articles/eaf.Rmd
Due: none

python/src/moocore/_moocore.py: Minor edits.
  python/src/moocore/_moocore.py
Due: src

python/ eaf() takes argument sets following the R API.
  python/doc/source/whatsnew/index.rst
  python/src/moocore/_moocore.py
  python/tests/test_moocore.py
Due: tests, src

python/ vorob_t() and vorob_dev() take a sets argument.
  python/doc/source/whatsnew/index.rst
  python/src/moocore/_moocore.py
Due: src

python/examples/plot_eaf.py: New example.
  python/doc/source/whatsnew/index.rst
  python/examples/plot_eaf.py
Due: none

python/examples/plot_eaf.py: Simplify.
  python/examples/plot_eaf.py
Due: none

r/inst/COPYRIGHTS: Mention avl_tiny.h.
  r/inst/COPYRIGHTS
Due: none

python/ Correct license to LGPL-2.1-or-later. Add COPYRIGHTS.
  python/COPYRIGHTS
  python/doc/source/whatsnew/index.rst
  python/pyproject.toml
  python/requirements_dev.txt
Due: none

Store Python wheels from @ e7a6b1da1ac7165bf963de009c506804129324f0
  moocore-0.1.8.dev0-py3-none-macosx_10_9_universal2.whl
  moocore-0.1.8.dev0-py3-none-macosx_10_9_x86_64.whl
  moocore-0.1.8.dev0-py3-none-macosx_11_0_arm64.whl
  moocore-0.1.8.dev0-py3-none-manylinux_2_17_x86_64.manylinux2014_x86_64.whl
  moocore-0.1.8.dev0-py3-none-musllinux_1_2_x86_64.whl
  moocore-0.1.8.dev0-py3-none-win_amd64.whl
Due: none

python/doc/source/whatsnew/index.rst: Minor formatting fix.
  python/doc/source/whatsnew/index.rst
Due: none

README.md: Link to pypistats.org.
  README.md
  python/README.md
Due: none

c/svnversion.mk: Delete unused file.
  c/svnversion.mk
Due: none

c/hv3dplus.c: Minor formatting.
  c/hv3dplus.c
Due: none

r and python/ Improve documentation of the EAF.
  python/src/moocore/_moocore.py
  r/R/eaf.R
  r/man/eaf.Rd
Due: src

README.md: Add testsuite badge.
  README.md
Due: none

r,python: Document details of Vorob'ev expectation and deviation.
  python/doc/source/reference/functions.eaf.rst
  python/src/moocore/_moocore.py
  r/R/vorob.R
  r/man/Vorob.Rd
  r/tests/testthat/test-doctest-vorob_t.R
Due: src

Update NEWS.md and whatsnew/index.rst.
  python/doc/source/whatsnew/index.rst
  r/NEWS.md
Due: none

r,python/ Fix floor should be ceil in 50% EAF documentation.
  python/doc/source/index.rst
  python/doc/source/reference/functions.dominance.rst
  python/doc/source/reference/functions.eaf.rst
  r/R/eaf.R
  r/man/eaf.Rd
Due: none

* python/src/moocore/_moocore.py: Replace m with d in documentation. * r/R/hv.R: Same.
  python/src/moocore/_moocore.py
  r/R/hv.R
  r/man/hypervolume.Rd
Due: src

c/README.md: Fix links.
  c/README.md
Due: none

* common.h: Add link to mimalloc.
  c/common.h
Due: none

* common.h (STATIC_CAST): New. Use it.
  c/common.h
  c/pow_int.h
Due: none

c/libutil.c: Add FIXME note.
  c/libutil.c
Due: none

TODO: Add more items.
  TODO
Due: none

python/ New online dataset DTLZLinearShape.8d.front.60pts.10.
  python/doc/source/whatsnew/index.rst
  python/src/moocore/_datasets.py
Due: src

Implement hv_approx() function and hvapprox executable in C.
  c/Makefile
  c/hvapprox.c
  c/hvapprox.h
  c/main-hvapprox.c
  python/doc/source/reference/functions.metrics.rst
  python/doc/source/whatsnew/index.rst
  python/examples/plot_hv_approx.py
  python/pyproject.toml
  python/src/moocore/_ffi_build.py
  python/src/moocore/_moocore.py
  python/src/moocore/data/ran.10pts.9d.10
  python/src/moocore/libmoocore.h
  r/.gitignore
  r/NAMESPACE
  r/NEWS.md
  r/R/hv.R
  r/R/hv_approx.R
  r/man/hv_approx.Rd
  r/src/Makevars
  r/src/Rmoocore.c
  r/src/init.h
  r/src/install.libs.R
  r/tests/testthat/test-doctest-hv_approx.R
  tools/hypersphere_volume.py
Due: src

Store Python wheels from @ 44a98864cd68474006fa23d6fe684b44d1009f4d
  moocore-0.1.8.dev0-py3-none-macosx_10_9_universal2.whl
  moocore-0.1.8.dev0-py3-none-macosx_10_9_x86_64.whl
  moocore-0.1.8.dev0-py3-none-macosx_11_0_arm64.whl
  moocore-0.1.8.dev0-py3-none-manylinux_2_17_x86_64.manylinux2014_x86_64.whl
  moocore-0.1.8.dev0-py3-none-musllinux_1_2_x86_64.whl
  moocore-0.1.8.dev0-py3-none-win_amd64.whl
Due: none

python/tests/test_moocore.py: Test hv_approx().
  python/tests/test_moocore.py
Due: tests

python/tests/test_moocore.py: Use pytest.mark.parametrize.
  python/tests/test_moocore.py
Due: tests

c/main-hvapprox.c: Improve error message.
  c/main-hvapprox.c
Due: none

c/Makefile (test-hvapprox, time-hvapprox): New.
  c/Makefile
Due: none

README.md: Add 'Who is using moocore' section.
  README.md
Due: none

Path conditions:
  tests: any of: python/tests/**
  src: any of: python/src/**
