Repository multi-objective/moocore: changes, and which Codecov flags are due for each by the changed paths.
All: tests, src

codecov.yml:

fixes:
  - "python/src/moocore/libmoocore/::c/" # Python package symlink
  - "src/moocore/libmoocore/::c/" # Python package symlink
  - "r/src/libmoocore/::c/" # R package symlink
  - "src/libmoocore/::c/" # R package symlink
  - ".tox/cov*/lib/*/site-packages/::python/src/"

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

flag_management:
  default_rules: # the rules that will be followed for any flag added, generally
    carryforward: true

component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doesn't have a status defined will have a project type one
        target: auto
        threshold: 1%
        branches:
          - "!main"
      - type: patch
        target: auto
        threshold: 1%
        informational: true

  individual_components:
    - component_id: tests  # this is an identifier that should not be changed
      name: tests  # this is a display name, and can be changed freely
      paths:
        - python/tests/**
        - python/examples/**
      statuses:
        - type: project
          target: 100%
          informational: false
        - type: patch
          target: auto
          threshold: 1%
          informational: true

    - component_id: src
      name: src
      paths:
        - python/src/**
      statuses:
        - type: project
          target: auto
          threshold: 1%
          informational: true
        - type: patch
          target: auto
          threshold: 1%
          informational: true

debug position
  c/hv.c
Due: none

force bug
  c/hv.c
Due: none

separate ignore setting cases; print debug output only with DEBUG2.
  c/hv.c
  c/hv4d_priv.h
  c/hvc4d_priv.h
Due: none

add also DEBUG1_PRINT_POINT
  c/hv.c
  c/hv4d_priv.h
Due: none

onec4dplusU can return negative.
  c/hv.c
  c/hvc4d_priv.h
Due: none

TODO-hv: mention generalized hv contribution.
  TODO-hv
Due: none

r/NEWS.md: Remove wrong entry in version 0.2.0
  r/NEWS.md
Due: none

python/tests/test_moocore.py (test_hv_dominated): New test.
  python/tests/test_moocore.py
Due: tests

* python/doc/source/conf.py (extlinks): Add :user:. * python/doc/source/whatsnew/index.rst: Update.
  python/doc/source/conf.py
  python/doc/source/whatsnew/index.rst
Due: none

* python/doc/source/super_with_brackets.py: New. * python/doc/source/conf.py: Use it for bibtex_reference_style.
  python/doc/source/conf.py
  python/doc/source/super_with_brackets.py
Due: none

Fix "the the" in several files.
  c/eaf.c
  python/examples/plot_eaf.py
  r/vignettes/articles/eaf.Rmd
Due: tests

python/: Move conftest.py from src to here (fix #54).
  python/conftest.py
Due: none

Store Python wheels from @ ad53a481502584b22fb9bb7020b4590ad4f74bc2
  moocore-0.3.0.dev0-cp310-abi3-macosx_10_9_universal2.whl
  moocore-0.3.0.dev0-cp310-abi3-manylinux2014_aarch64.manylinux_2_17_aarch64.manylinux_2_28_aarch64.whl
  moocore-0.3.0.dev0-cp310-abi3-manylinux2014_x86_64.manylinux_2_17_x86_64.manylinux_2_28_x86_64.whl
  moocore-0.3.0.dev0-cp310-abi3-musllinux_1_2_aarch64.whl
  moocore-0.3.0.dev0-cp310-abi3-musllinux_1_2_x86_64.whl
  moocore-0.3.0.dev0-cp310-abi3-win_amd64.whl
  moocore-0.3.0.dev0-cp310-abi3-win_arm64.whl
Due: none

TODO: Mention HSSP
  TODO
Due: none

python/ Add moarchiving to the HV benchmarks.
  python/benchmarks/bench_hv.py
  python/doc/source/_static/bench/hv_bench-DTLZLinearShape.3d-time.png
  python/doc/source/_static/bench/hv_bench-DTLZLinearShape.4d-time.png
  python/doc/source/benchmarks.inc.rst
  python/doc/source/whatsnew/index.rst
  python/pyproject.toml
Due: none

* r/man/macros/macros.Rd (HTMLVignette): New macro. * r/R/generate.R: Use it. * r/R/hv_approx.R: Likewise.
  r/R/generate.R
  r/R/hv_approx.R
  r/man/generate_ndset.Rd
  r/man/hv_approx.Rd
  r/man/macros/macros.Rd
Due: none

* python/benchmarks/bench.py (check_float_vector): New. * python/benchmarks/bench_ndsort.py: Use it.
  python/benchmarks/bench.py
  python/benchmarks/bench_ndom.py
Due: none

* libmoocore-config.h: Include gcc_attribs.h
  c/libmoocore-config.h
Due: none

* r/vignettes/articles/benchmarks.Rmd: Mention emoa bug.
  r/vignettes/articles/benchmarks.Rmd
Due: none

* README.md: Mention bonobench.
  README.md
Due: none

Implement exact R2 indicator for bi-objective problems
  README.md
  bibkeys.txt
  c/Makefile
  c/r2_exact.c
  c/r2_exact.h
  python/README.md
  python/doc/source/REFERENCES.bib
  python/doc/source/index.rst
  python/doc/source/reference/functions.metrics.rst
  python/doc/source/whatsnew/index.rst
  python/examples/plot_metrics.py
  python/pyproject.toml
  python/src/moocore/__init__.py
  python/src/moocore/_ffi_build.py
  python/src/moocore/_moocore.py
  python/src/moocore/libmoocore.h
  python/tests/test_moocore.py
  r/inst/REFERENCES.bib
Due: tests, src

Implement exact R2 indicator for bi-objective problems.
  README.md
  bibkeys.txt
  c/Makefile
  c/r2_exact.c
  c/r2_exact.h
  python/README.md
  python/doc/source/REFERENCES.bib
  python/doc/source/index.rst
  python/doc/source/reference/functions.metrics.rst
  python/doc/source/whatsnew/index.rst
  python/examples/plot_metrics.py
  python/pyproject.toml
  python/src/moocore/__init__.py
  python/src/moocore/_ffi_build.py
  python/src/moocore/_moocore.py
  python/src/moocore/libmoocore.h
  python/tests/test_moocore.py
  r/inst/REFERENCES.bib
Due: tests, src

Store Python wheels from @ e13933dd352fe21a5a392e84ab99e9cfd078f3db
  moocore-0.3.0.dev0-cp310-abi3-macosx_10_9_universal2.whl
  moocore-0.3.0.dev0-cp310-abi3-manylinux2014_aarch64.manylinux_2_17_aarch64.manylinux_2_28_aarch64.whl
  moocore-0.3.0.dev0-cp310-abi3-manylinux2014_x86_64.manylinux_2_17_x86_64.manylinux_2_28_x86_64.whl
  moocore-0.3.0.dev0-cp310-abi3-musllinux_1_2_aarch64.whl
  moocore-0.3.0.dev0-cp310-abi3-musllinux_1_2_x86_64.whl
  moocore-0.3.0.dev0-cp310-abi3-win_amd64.whl
  moocore-0.3.0.dev0-cp310-abi3-win_arm64.whl
Due: none

Implement r2_exact function for R package (#56)
  .gitignore
  r/DESCRIPTION
  r/NAMESPACE
  r/NEWS.md
  r/R/r2.R
  r/inst/WORDLIST
  r/man/r2_exact.Rd
  r/src/Makevars
  r/src/Rmoocore.c
  r/src/init.h
  r/tests/testthat/test-doctest-r2_exact.R
  r/tests/testthat/test_r2.R
Due: none

r2_exact() only supports 2D for now.
  python/src/moocore/_moocore.py
  r/R/r2.R
Due: src

* c/sort.h (generate_sorted_doublep_2d): Renamed to generate_sorted_doublep_2d_filter_by_ref(). (generate_sorted_doublep_2d): New. * c/: Update all calls.
  c/hv.c
  c/hv_contrib.c
  c/r2_exact.c
  c/sort.h
Due: none

* c/hv.c (hv_recursive): Do not recurse directly into basecase.
  c/hv.c
Due: none

r/vignettes/articles/metrics.Rmd: Add r2_exact().
  r/vignettes/articles/metrics.Rmd
Due: none

python/benchmarks/bench_hv.py: Use check_float_values.
  python/benchmarks/bench_hv.py
Due: none

c/hv.c (fpli_hv_ge5d, hv_recursive): Remove ignore condition that is sensitive to rounding errors.
  c/hv.c
Due: none

Compute a 4D hv contribution in the base case of fpli_hv().
  c/Makefile
  c/NEWS.md
  c/hv.c
  c/hv4d_priv.h
  c/hv_priv.h
  c/hvc4d_priv.h
  c/libhv.mk
  c/sort.h
  python/doc/source/whatsnew/index.rst
  python/src/moocore/_moocore.py
  r/NEWS.md
  r/R/hv.R
  r/man/hypervolume.Rd
Due: src

python/pyproject.toml(tool.pyproject-fmt): Use table_format="long".
  python/pyproject.toml
Due: none

python/doc/source/reference/functions.metrics.rst: Fix notation.
  python/doc/source/reference/functions.metrics.rst
Due: none

Extend the documentation of the EAF. * python/doc/source/reference/functions.eaf.rst: here. * R/eaf.R: here.
  TODO
  python/doc/source/reference/functions.eaf.rst
  python/src/moocore/_moocore.py
  r/R/eaf.R
  r/man/eaf.Rd
Due: src
